<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<description>SIL</description>
	<display-name>sil</display-name>
	<listener>
		<listener-class>it.eng.sil.session.SessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>com.engiweb.framework.configuration.ConfigServlet</servlet-class>
		<init-param>
			<param-name>AF_CONFIG_FILE</param-name>
			<param-value>/WEB-INF/conf/master.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AdapterHTTP</servlet-name>
		<servlet-class>com.engiweb.framework.dispatching.httpchannel.AdapterHTTP</servlet-class>
	</servlet>
	
	  <servlet>
	    <servlet-name>AxisServlet</servlet-name>
	    <display-name>Apache-Axis Servlet</display-name>
	    <servlet-class>
	        org.apache.axis.transport.http.AxisServlet
	    </servlet-class>
	    <load-on-startup>1</load-on-startup>
	  </servlet>	
	
	
	
	<servlet-mapping>
		<servlet-name>AdapterHTTP</servlet-name>
		<url-pattern>/servlet/fv/AdapterHTTP</url-pattern>
	</servlet-mapping>
	
	 <servlet-mapping>
	    <servlet-name>AxisServlet</servlet-name>
	    <url-pattern>/servlet/AxisServlet</url-pattern>
	  </servlet-mapping>
	
	    <servlet-mapping>
	    <servlet-name>AxisServlet</servlet-name>
	    <url-pattern>/services/*</url-pattern>
	  </servlet-mapping>	
	
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
  <mime-mapping>
    <extension>wsdl</extension>
     <mime-type>text/xml</mime-type>
  </mime-mapping>
  

  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
		<jsp-config>
		
	<taglib>
		<taglib-uri>aftags</taglib-uri>
		<taglib-location>/WEB-INF/tld/af.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>cal</taglib-uri>
		<taglib-location>/WEB-INF/tld/calendario.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>patto</taglib-uri>
		<taglib-location>/WEB-INF/tld/patto.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>presel</taglib-uri>
		<taglib-location>/WEB-INF/tld/presel.tld</taglib-location>
	</taglib>
 	 <jsp-property-group>
    	<url-pattern>*.jsp</url-pattern>
    	<page-encoding>UTF-8</page-encoding>
  	</jsp-property-group>

 	 <jsp-property-group>
    	<url-pattern>*.inc</url-pattern>
    	<page-encoding>UTF-8</page-encoding>
  	</jsp-property-group>
	</jsp-config>
	<resource-ref id="ResourceRef_1156845710484">
		<description>DB del SIL</description>
		<res-ref-name>jdbc/SILds</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
	
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<!-- Do not wrap this line otherwise Glassfish will fail to load this file -->
<!-- 		<url-pattern>/js/fckeditor/editor/filemanager/connectors/*</url-pattern> -->
		<url-pattern>/servlet/fckeditor/editor/filemanager/connectors/*</url-pattern>
	</servlet-mapping>

	 <servlet>
		<servlet-name>DownloadPdf</servlet-name>
		<servlet-class>it.eng.sil.module.trento.DownloadPdf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadPdf</servlet-name>
		<url-pattern>/services/creaPdf</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AutocompleteServletComponent</servlet-name>
		<servlet-class>it.eng.sil.servlet.AutocompleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutocompleteServletComponent</servlet-name>
		<url-pattern>/services/autocompleteServletComponent</url-pattern>
	</servlet-mapping>
      
</web-app>
