BODY
{
	 BACKGROUND-COLOR: #f0f8ff;
}

<!--
.Button
{
	BORDER-TOP: #0099CC 2px solid;
	BORDER-LEFT: #0099CC 2px solid;
	BORDER-BOTTOM: #000000 2px solid;
	BORDER-RIGHT: #000000 2px solid;
	BACKGROUND: #003399;
	COLOR: #FFFFFF;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 1pt;
	WIDTH: 100px;
	CURSOR: hand;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
}

-->

.Button
{
    BORDER-RIGHT: #000000 2px solid;
    BORDER-TOP: #00B300 2px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND: #006500;
    MARGIN-BOTTOM: 1pt;
    BORDER-LEFT: #00B300 2px solid;
    CURSOR: hand;
    COLOR: #ffffff;
    BORDER-BOTTOM: #000000 2px solid;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
    WIDTH: 130px;
}
.ButtonDisabled
{
    BORDER-RIGHT: #FFFFFF 2px solid;
    BORDER-TOP: #FFFFFF 2px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND: #E2E2E2;
    MARGIN-BOTTOM: 1pt;
    BORDER-LEFT: #FFFFFF 2px solid;
    CURSOR: hand;
    COLOR: #ffffff;
    BORDER-BOTTOM: #FFFFFF 2px solid;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
    WIDTH: 130px;
}