TD.mainmenuSub
{
    BORDER: lightskyblue thin outset;
    WIDTH: 137px;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #1C76B9;
}

TD.submenuSuper {
	FILTER: DropShadow(Color="#808080",OffX="3",OffY="3",Positive="1");
	WIDTH: 100%;
	HEIGHT: 100%;
}

TABLE.submenuSub {
	BACKGROUND-COLOR: #F4F4FF;
	WIDTH: 96%;
}

A.mainmenu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: white;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
    MARGIN-LEFT: 10px;
}
A.mainmenu:hover
{
    COLOR: orange;
    TEXT-DECORATION: none;
}

A.mainmenu_disabled
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #C0C0C0;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
    MARGIN-LEFT: 10px;
}

TD.submenuLiv1
{
    FONT-SIZE: 8pt;
    COLOR: #1C76B9;
	BACKGROUND-COLOR: #F4F4FF;
    FONT-WEIGHT: bold;
    FONT-STYLE: italic;
    FONT-FAMILY: arial, geneva, helvetica;
}

A.submenu
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #1C76B9;
    FONT-STYLE: normal;
    FONT-FAMILY: arial, geneva, helvetica;
    TEXT-DECORATION: none;
    MARGIN-LEFT: 10px;
}
A.submenu:hover
{
    COLOR: #9B1E1A;
    TEXT-DECORATION: underline;
}

P.submenu_disabled
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #A9A9A9;
    FONT-STYLE: italic;
    FONT-FAMILY: arial, geneva, helvetica;
    TEXT-DECORATION: none;
    MARGIN-LEFT: 10px;
}
