
/* ================================================= PAGINA ======================================================== */

BODY, TD, P {
    MARGIN-TOP: 0px;
    FONT-SIZE: 8pt;
    MARGIN-BOTTOM: 0px;
    COLOR: black;
    BACKGROUND-COLOR:  #e8f3ff;
    FONT-FAMILY: Verdana;

}


/* =============================================== ANCHOR & LINK =================================================== */

A:link {
  font: 8pt arial, geneva, helvetica;
  color:#1C76B9;
  text-decoration:none;
}

A:visited {
  font: 8pt arial, geneva, helvetica;
  color:#1C76B9;
  text-decoration:none;
}

A:hover {
  font: 8pt arial, geneva, helvetica;
  color:#FF8800;
  text-decoration:underline;
}


/* ==== FV: Serve per il titolo alla lista del paginatore ============= */

h2 {     color: #006500;
         font-family: Verdana;
         FONT-SIZE: 12pt;
}


#titoloRegione {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	color: #000066;
}