/***************************************************************
*        SIL: Foglio di stile per le liste paginate            *
****************************************************************/


/*
*  @author: Stefania Orioli
*  File di base: af/listdetail.css
*  il foglio di stile delle liste che fa parte del framework è stato 
*  copiato e riadattato per essere conforme con il foglio di stile stili.css
*/

/* ============================================ BOTTONI DELLE LISTE ================================================ */
td.caption {
	padding-left: 3px;
	padding-right: 3px; 
}

.ListButtonChangePage {
	border: 0px;
	font-weight: normal;
	font-size: 11px;
	color: #000066;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
	cursor: pointer;
	padding: 0px;
	margin: 0px;
	text-align: left;
	vertical-align: middle;
}

.ListButtonChangePageDisabled {
	border: 0px;
	font-weight: normal;
	font-size: 11px;
	color: #000066;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
	cursor: pointer;
	padding: 0px;
	margin: 0px;
	text-align: left;
	vertical-align: middle;
}

/*
button.ListButtonChangePage,
button.ListButtonChangePageDisabled {
	border: 1px solid black;
	font-weight: normal;
	font-size: 11px;
	color: #000066;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
	cursor: pointer;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin: 0px;
	text-align: left;
}*/

.ListButtonNuovo,
.ListButtonFiltro,
.ListButtonChiudi,
.ListButtonBackList
{
	border: #dddddd thin outset;
	font-weight: normal;
	font-size: 9pt;
	color: #000080;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #d4d4d4;
}
.ListButtonNuovoDisabled,
.ListButtonFiltroDisabled,
.ListButtonChiudiDisabled,
.ListButtonBackListDisabled
{
	border: #ffffff thin solid;
	font-weight: normal;
	font-size: 9pt;
	color: #000080;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E2E2E2;
}

.ListButtonDett,
.ListButtonElim,
.ListButtonInvio,
.ListButtonSelect,
.ListButtonSelectAll,
.ListButtonSalva,
.ListButtonPulisci,
{
	border: #dddddd thin outset;
	font-weight: normal;
	font-size: 9pt;
	color: #000080;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #d4d4d4;
}

.ListButtonDettDisabled,
.ListButtonElimDisabled,
.ListButtonInvioDisabled,
.ListButtonSelectDisabled,
.ListButtonSelectAllDisabled,
.ListButtonSalvaDisabled,
.ListButtonPulisciDisabled,
{
	border: #ffffff thin solid;
	font-weight: normal;
	font-size: 9pt;
	color: #000080;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E2E2E2;
}

.ButtonChangePage {
	border: #dddddd 1px outset;
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #999999;
}
.ButtonChangePageDisabled {
	border: #ffffff 1px solid;
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E2E2E2;
}


/* =================================================== TABELLE ===================================================== */

/* STILI DELLE LISTE GENERATE COME RISULTATO DI UNA RICERCA */

/* La tabella va inclusa in una serie di div che creano l'effetto stondatura */
/*
<div class="contentWrapper">
    <div class="content">
        <img class="borderTL" src="../../img/angoli/tl_lista.gif" alt="&nbsp;" width="14" height="14" border="0"/>
        <img class="borderTR" src="../../img/angoli/tr_lista.gif" alt="&nbsp;" width="14" height="14" border="0"/>
		  
        <!--h1>Here be content!</h1-->
		  
		  <br>

<!-- IE5/win puts the margin-bottom of the content div's final element
             OUTSIDE the containing box (div.content), instead of putting it inside
             the containing box's edge. So it needs this spacer. -->
        <div class="roundedCornerSpacer">&nbsp;</div>
    </div><!-- end of div.content -->
    <div class="bottomCorners">
        <img class="borderBL" src="../../img/angoli/bl_lista.gif" alt="&nbsp;" width="14" height="14" border="0"/>
        <img class="borderBR" src="../../img/angoli/br_lista.gif" alt="&nbsp;" width="14" height="14" border="0" />
    </div>
</div><!-- end of div.contentWrapper --> 

		  
*/
/* I margini sono calcolati per gif di 14px x 14px  */
.roundedCornerSpacer {
	margin: 0px; padding: 0px; border: 0px;
	clear: both;
	font-size: 1px; line-height: 1px;
}

.borderTL, .borderTR, .borderBL, .borderBR {
	width: 14px; height: 14px;
	padding: 0px; border: 0px;
	z-index: 99;
}
.borderTL, .borderBL { float: left; clear: both; }
.borderTR, .borderBR { float: right; clear: right; }
.borderTL { margin: -1px 14px 0px -1px; }
.borderTR { margin: -1px -3px 0px 14px; }
.borderBL { margin: -14px 14px 0px 0px; }
.borderBR { margin: -14px -3px 0px 14px; }

.content {
	margin: 0px;
	padding: 0px;
	border: 1px solid #e8f3ff;
	background: #e8f3ff;
	/*width: 100%;*/
}
.contentWrapper {
	/* position this div however you want, but
	    keep its padding and border at zero */
	padding: 0px;
	border: 0px;
	position: relative;
	width: 94%;
	left: 3%;
	text-align: center;
} 




/*****************************************************************************/
table.lista {
	color: #000066; 
	background: #e8f3ff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	width: 94%;
	margin: 0 auto;
	border: 0px;
	padding: 2px;
	max-width: 96%;
	/*position: relative;*/
}

th.lista {
	background: #e8f3ff;
	color: #3366CC; 
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid; 
	border-bottom-color: #000080;
}

td.sfondo_lista {
	color: #000066; 
	background: #e8f3ff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	margin: 0 auto;
	border: 0px;
}

tr.lista {
	/*border-bottom-width: 1px;
	border-bottom-style: solid; 
	border-bottom-color: #000080;*/
	vertical-align: top;
}

td.lista_dispari {
	border-bottom-width: 1px;
	border-bottom-style: solid; 
	border-bottom-color: #000080;
	color: #000066; 
	background-color: #cce4ff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	/*text-align: left;*/
	/*white-space: nowrap;*/
}

td.lista_pari {
	border-bottom-width: 1px;
	border-bottom-style: solid; 
	border-bottom-color: #000080;
	color: #000066; 
	background-color: #e8f3ff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	/*text-align: left;*/
	/*white-space: nowrap;*/
}

pre.pre_lista {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
}

td.lista_pagine {
	border: 0px;
	color: #3366cc; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
}

/* Lasciate per compatibilità con la precedente versione */
td.lista {
	border-bottom-width: 1px;
	border-bottom-style: solid; 
	border-bottom-color: #000080;
	color: #000066; 
	background-color: #e8f3ff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	/*text-align: left;*/
	/*white-space: nowrap;*/
}

td.lista_left {
	border-bottom-width: 1px;
	border-bottom-style: solid; 
	border-bottom-color: #000080;
	color: #000080; 
	font-family: Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 12px;
	font-weight: normal;
	/*text-align: left;*/
	white-space: nowrap;
}

td.lista_wrap {
	border-bottom-width: 1px;
	border-bottom-style: solid; 
	border-bottom-color: #000080;
	color: #000080; 
	font-family: Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 12px;
	font-weight: normal;
}
/*-------------------------------------------------------------*/


/* Non ancora esaminati */
/*
table.detail {
	color: #000080; 
	font-family: Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 12px;
	width: 90%;
}

th.detail
{
	FONT-FAMILY: Arial;
	FONT-SIZE: 9pt;
	text-align: center;
	color: white;
	background-color: #1C76B9;
}

TR.DETAIL
{
}

TD.DETAIL
{
	FONT-FAMILY: Arial;
	FONT-SIZE: 9pt;
	COLOR: #1C76B9;
	background-color: #f4f4ff;
	white-space: nowrap;
}

TD.footer
{
	FONT-FAMILY: Arial;
	FONT-SIZE: 7pt;
}
*/

