/* Foglio di stile "MAIN" per le pagine */

/* ================================================= PAGINA ======================================================== */

BODY, TD, P {
    MARGIN-TOP: 0px;
    FONT-SIZE: 8pt;
    MARGIN-BOTTOM: 0px;
    COLOR: black;
    BACKGROUND-COLOR: #f0f8ff;
    FONT-FAMILY: Verdana;
  SCROLLBAR-BASE-COLOR: #006500;
	SCROLLBAR-ARROW-COLOR: YELLOW;

}

HR {
    COLOR: #006500;
}

FIELDSET {
    BORDER-LEFT-COLOR: #006500;
    BORDER-BOTTOM-COLOR: #006500;
    COLOR: black;
    BORDER-TOP-COLOR: #006500;
    BORDER-RIGHT-COLOR: #006500;
}

LEGEND {
    font-size:10pt;
    COLOR: #006500
}

/* ========================================== TITOLI E TITOLETTI =================================================== */

td.dettTitolo{
  FONT-SIZE: 17px;
  Color=#006500;
  FONT-FAMILY: Verdana,Arial;
  FONT-WEIGHT: bold;
}

td.dettTitoletto{
  FONT-SIZE: 13px;
  Color=#006500;
  FONT-FAMILY: Verdana,Arial;
  FONT-WEIGHT: bold;
}

.titoloOmbrato {
  FONT-SIZE: 20px; 
  Color=#006500; 
  FILTER: DropShadow(Color=#00B300,OffX=2,OffY=1,Positive=1); 
  FONT-FAMILY: Verdana,Arial; 
  HEIGHT: 24px;
}

td.titolo {background-color: #f0f8ff;
          MARGIN-TOP: 10px;
          MARGIN-LEFT: 50px;
         color: #006500;
         font-family: Verdana;
          FONT-SIZE: 16pt;
}

.Titolo2 {text-align:left;
          background-color:#000080; color: #f0f8ff;
          font-family: arial; font-size: 10pt; font-weight: bold;}
.Titolo3 {text-align:left;
          background-color:#ffffff; color:#000080;
          font-family: arial; font-size: 8pt; font-weight: bold;}
.Normale {text-align:left;
          height:20;
          background-color:#ffffff; color:#000000;
          font-family: arial; font-size: 8pt; font-weight: normal;}
.Grigio {background-color:#cccccc;}
.Azzurro {background-color:#f0f8ff;}

/* ========================================== DESCRIZIONE CAMPI ===================================================== */

td.etich {
  COLOR: green;  
  font-weight: bold;
  text-align: right;  
}

td.etichObblig {
  FONT-WEIGHT: BOLD;
  COLOR: BLUE;
  font-weight: bold;
  text-align: right;  
}

td.etichSx {
  COLOR: green;
  FONT-WEIGHT: bold;
  text-align: left;
}

td.etichSxObblig {
  FONT-WEIGHT: BOLD;
  COLOR: BLUE;
  font-weight: bold;
  text-align: left;
}

td.dett {
  text-align:left;
  width:160pt;
  vertical-align:top;
  PADDING-top: 4px;
  HEIGHT: 19;
}

td.dettObblig {
  FONT-WEIGHT: BOLD;
  COLOR: BLUE;
  text-align:left;
  width:160pt;
  vertical-align:top;
  PADDING-top: 4px;
  HEIGHT: 19;
}

td.dettLibero {
  text-align:left;
  vertical-align:top;
  PADDING-top: 4px;
  HEIGHT: 19;
}

td.dettLiberoObblig {
  FONT-WEIGHT: BOLD;
  COLOR: BLUE;
  text-align:left;
  vertical-align:top;
  PADDING-top: 4px;
  HEIGHT: 19;
}

div.riga_linguetta {
  margin-top: 1px;
  border-style: solid; 
  border-width:2; 
  border-color:#f0f8ff #f0f8ff #006500 #f0f8ff;
}

/* =============================================== ANCHOR & LINK =================================================== */

A:link {
  font: 8pt arial, geneva, helvetica;
  color:#1C76B9;
  text-decoration:none;
}

A:visited {
  font: 8pt arial, geneva, helvetica;
  color:#1C76B9;
  text-decoration:none;
}

A:hover {
  font: 8pt arial, geneva, helvetica;
  color:#FF8800;
  text-decoration:underline;
}

/* ===================================== INPUT, SELECT e ALTRI CAMPI FORM =========================================== */

input  {text-align:left; font-family: arial; font-size: 8pt; color: black; }
select {text-align:left; font-family: arial; font-size: 8pt; color: black; }

input.textbox,
input.textboxEdit {
  text-align:left;
  FONT-FAMILY: Verdana, Arial;
  font-size: 8pt;
  color: black;
  HEIGHT: 19;
}
input.textboxView {
  text-align:left;
  FONT-FAMILY: Verdana,Arial;
  font-size: 8pt;
  BORDER-STYLE: none;
  color: black;
  PADDING-top: 2px;
  HEIGHT: 19;
}
textarea.textbox,
textarea.textboxEdit {
  text-align:left;
  FONT-FAMILY: Verdana, Arial;
  font-size: 8pt;
  color: black;
}
textarea.textboxView {
  text-align:left;
  FONT-FAMILY: Verdana,Arial;
  font-size: 8pt;
  BORDER-STYLE: none;
  PADDING-top: 2px;
  color: black;
}
select.combobox,
select.comboboxEdit {
  text-align:left;
  FONT-FAMILY: Verdana,Arial;
  font-size: 8pt;
  BORDER-STYLE: none;
  color: black;
  HEIGHT: 19;
}
select.comboboxView {
  text-align:left;
  FONT-FAMILY: Verdana,Arial;
  font-size: 8pt;
  BORDER-STYLE: none;
  color: black;
  PADDING-top: 2px;
  HEIGHT: 19;
}

/* ================================================ BOTTONI ======================================================== */

.Pulsante {background-position:center left; background-repeat:no-repeat; background-color:#f0f0f0;
           width:100; height:32;
           text-align:center;
           font-family: arial; font-size: 8pt; font-weight: bold;}
.PulsanteDisabled {background-position:center left; background-repeat:no-repeat; background-color:#E2E2E2;
           width:100; height:32;
           text-align:center;
           font-family: arial; font-size: 8pt; font-weight: bold;}

.PulsanteVerde
{
    BORDER-RIGHT: #000000 2px solid;
    BORDER-TOP: #00B300 2px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND: #006500;
    MARGIN-BOTTOM: 1pt;
    BORDER-LEFT: #00B300 2px solid;
    CURSOR: hand;
    COLOR: #ffffff;
    BORDER-BOTTOM: #000000 2px solid;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
}
.PulsanteVerdeDisabled
{
    BORDER-RIGHT: #000000 2px solid;
    BORDER-TOP: #00B300 2px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND: #E2E2E2;
    MARGIN-BOTTOM: 1pt;
    BORDER-LEFT: #00B300 2px solid;
    CURSOR: hand;
    COLOR: #ffffff;
    BORDER-BOTTOM: #000000 2px solid;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none;
}

.tab1 {text-align:left;
      background-color:#006500; color:white;
      border-style: solid; border-width:1; 
      BORDER-RIGHT: #000000 1px solid;
      BORDER-TOP: #00B300 1px solid;
      BORDER-LEFT: #00B300 1px solid;
      BORDER-BOTTOM: #000000 1px solid;
      font-family: Verdana, Arial; font-size: 8pt; font-weight: bold;
  }
        
.tab2 {text-align:left;
      cursor:hand;
      BORDER-RIGHT: #000000 1px solid;
      BORDER-TOP: #00B300 1px solid;
      BORDER-LEFT: #00B300 1px solid;
      BORDER-BOTTOM: #000000 1px solid;
      background-color:#BFFFBF; color:9F9F9F;
      font-family: Verdana, arial; font-size: 8pt; font-weight: bold;
}

/* ================================================================================================================== */

/* ==== FV: Serve per il titolo alla lista del paginatore ============= */

h2 {     color: #006500;
         font-family: Verdana;
         FONT-SIZE: 12pt;
}