.sapTitolo {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 24px;
	font-weight: bold;
	color: #000066;
	text-align: center;
	background-color: #ff9966;
}
.silTitolo {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 24px;
	font-weight: bold;
	color: #000066;
	text-align: center;
	background-color: #cce4ff;
}
.sapTitoloSezione {
  font-family: Verdana, Arial, Helvetica, Sans-serif; 
  text-align: left;
  background-color: #ff9966;
  color: #000066;
  font-weight: bold;
  font-size: 110%;
  width: 100%;
  text-transform: uppercase;
}
.sapTabella {
  background-color: #ffdead;
  width: 100%;
}
.silTitoloSezione {
  font-family: Verdana, Arial, Helvetica, Sans-serif; 
  text-align: left;
  background-color: #cce4ff;
  color: #000066;
  font-weight: bold;
  font-size: 110%;
  width: 100%;
  text-transform: uppercase;
}
.silTabella {
  background-color: #e8f3ff;
  width: 100%;
}
.grassetto {
  font-weight: bold;
}
td {
  width: 50%;
}
.indenta {
  font-weight: bold;
  padding-left: 2em;
}
.sapImporta {
  font-family: Verdana, Arial, Helvetica, Sans-serif; 
  text-align: left;
  background-color: #ff9966;
  color: #000066;
  font-weight: bold;
  font-size: 130%;
  width: 100%;
}
.msgView { 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 20px;
	font-weight: bold;
	color: #000066;
	text-align: center;
    border-style: none;
	padding-top: 2px;
}