/*
* @author: Giovanni Landi
*/

.pulsanticoop {
   border: #dddddd 1px outset;
   font-weight: bold;
   font-size: 11px;
   color: #ffffff;
   font-style: normal;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #999999;
}
.pulsanticoopDisabled {
   border: #ffffff 1px solid;
   font-weight: bold;
   font-size: 11px;
   color: #ffffff;
   font-style: normal;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #E2E2E2;
}

table.maincoop {
	width: 100%;
	margin: 0px;
	border: 0px;
	padding: 2px;
	text-align: center;
}

td.prof_mod_coop {
	/*background-color: #cce4ff;*/
	background-color: #ffdead;
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	font-weight: normal;
}
td.prof_ro_coop {
	/*background-color: #ffdead;*/
	background-color: #FFDEAD;
	color: #000066;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: normal;
}

td.etichettacoop {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: right;
	font-weight: normal;
	text-decoration: none;
	width: 30%;
	padding-right: 12px;
}

span.etichettacoop {
	/* simile a td.etichettacoop, usato per scrivere etichette in campo "td.campocoop" */
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	vertical-align: top;
}

td.campocoop {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: left;
	text-decoration: none;
	width: 70%;
}

td.etichettacoop2 {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: right;
	text-decoration: none;
	padding-right: 12px;
}

td.campocoop2 {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: left;
	text-decoration: none;
}

td.campocoopcentrato {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: center;
}

td.campocoop_read {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	border: 0px;
	margin: 0px;
	padding-left: 12px;
	width: 70%;
}

td.campocoop_readFree {
	color: #000066;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	border: 0px;
	margin: 0px;
	padding-left: 12px;
	/* non ho la width fissata */
}
.infocoop {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
	font-style: normal;
	color: #000066;
	background-color: #ffdead;
	margin: 0px;
}
