/**********************************************
*        SIL: Stili di Default                *
***********************************************/

/*
* @author: Stefania Orioli
*/

div.layerDett {
	border: 2px solid #000080; 
	background-color: #f0ffff;
	text-align: center;
}

div.t_layerDett {
	/*border: 2px solid #000080; 
	background-color: #f0ffff; */
	border: 0px;
	background-color: transparent;
	text-align: center;
}

body {
	margin: 0;
	background-color: #ffffff;
}

img {
	border: 0;
}

text { 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	color: #000066;
}


ul {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
}

ul.info {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
	color: #000066;
	text-align: left;
}
li.info {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
	color: #000066;
	text-align: left;
	white-space: nowrap;
}
table.info, td.info {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
	color: #000066;
	text-align: left;
	white-space: nowrap;
}
li {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
}


input { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
}
/******************************************************
STILI top.jsp
******************************************************/
td.tdUtente {
	margin: 0px;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #000080;
	background: #f0f8ff;
	border: 0px;
	text-align: left;
}
td.tdProfilo {
	margin: 0px;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #000080;
	background: #e8e8ff;
	border: 0px;
	text-align: left;
}

td.tdGrigioTop {
	border-top: 1px solid #afb0b0;
	background: #ffffff;
	height: 6px;
	margin: 0px;
	font-size: 4px;
}
td.tdGrigioLeft {
	border-left: 1px solid #afb0b0;
	background: #ffffff;
	width: 6px;
	margin: 0px;
	font-size: 4px;
}
td.tdGrigioRight {
	border-right: 1px solid #808080;
	background: #ffffff;
	width: 6px;
	margin: 0px;
	font-size: 4px;
}
td.tdGrigioBottom {
	border-bottom: 1px solid #808080;
	background: #ffffff;
	height: 6px;
	margin: 0px;
	font-size: 4px;
}
/*
	@author FV
	Verranno utilizzati per le pagine che possono
	essere sia in sola visualizazione xxxView
	sia in modifica/Visualizazione xxxEdit

*/

input.inputView { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
    border-style: none;
	padding-top: 2px;
	background-color: transparent;
	font-weight: bold;
}

input.inputMBView { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
    border-style: none;
	padding-top: 2px;
	background-color: transparent;
	font-weight: bold;
	width: 100% !important;
}
input.inputMBEdit { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
	width: 100% !important;
}

input.inputViewNoBold { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
    border-style: none;
	padding-top: 2px;
	background-color: transparent;
}
input.inputEdit { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
}

input.inputUpperEdit { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
	text-transform: uppercase !important;
}
input.inputUpperView { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
    border-style: none;
	padding-top: 2px;
	background-color: transparent;
	font-weight: bold;
	text-transform: uppercase !important;
}

input.viewRiepilogo { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
 	background-color: #efefef;
	font-weight: bold;
}

input.viewRiepilogoTrasparent {   
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
    border-style: none;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
}

input.viewRiepilogoTrasparent2 {   
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
    border-style: none;
	background-color: transparent;
	font-weight: bold;
}

input.viewRiepilogoTrasparent2nobold {   
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
    border-style: none;
	background-color: transparent;
}

textarea { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
}


textarea.textareaEdit { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
}

textarea.textareaView { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
   border-style: none;
	/*border: 1px solid #000066;*/
	padding-top: 2px;
	/*background-color: transparent;*/
	background-color: #ffffff;
	font-weight: bold;
}

div.inputView { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
	background-color: White;
   border-style: none;
	padding-top: 2px;
	background-color: transparent;
	font-weight: bold;
}

div.textareaView { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
	/*background-color: White;*/
   border-style: none;
	padding-top: 2px;
	overflow: auto;
	height: 100px;
	width: 400px;
	background-color: transparent;
	font-weight: bold;
}



select { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #000066;
}





.pulsanti {
   border: #dddddd 1px outset;
   font-weight: bold;
   font-size: 11px;
   color: #ffffff;
   font-style: normal;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #999999;
}
.pulsantiDisabled {
   border: #ffffff 1px solid;
   font-weight: bold;
   font-size: 11px;
   color: #ffffff;
   font-style: normal;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #E2E2E2;
}

/*
* Replica di ".pulsanti" aggiunta in data 10/11/2003
* per coloro che hanno utilizzato pulsante al posto di .pulsanti
*/
.pulsante {
   border: #dddddd 1px outset;
   font-weight: bold;
   font-size: 11px;
   color: #ffffff;
   font-style: normal;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #999999;
}
.pulsanteDisabled {
   border: #ffffff 1px solid;
   font-weight: bold;
   font-size: 11px;
   color: #ffffff;
   font-style: normal;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #E2E2E2;
}

a:link,a:visited,a:hover {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px; 
	text-decoration: underline; 
}

h2 {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	color: #000066;
	text-align: center;
}

hr {
	width: 100%;
	/*border-style: solid;
	border-color: #000066;
	border-width: 2px;*/
	size: 2px;
	border-color: #000066;	
	border-style: solid;
}

table, td {
	color: #000080; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	text-decoration: none;
}
/*
tr {
	vertical-align: middle;
}*/

tr.note {
	vertical-align: top;
}

/************************************************** 
*       Stili per il frame "navig" (footer)       *
***************************************************/
body.nav {
	margin: 0;
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px; 
	color: #000066; 
	border-top: 1px solid gray;
	width: 100%;
}

table.footbar { 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	color: #000066; 
}

td.navig {
	cursor: pointer;
}


/***************************
*      Login e Welcome     *
****************************/
td.presentazione {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 20pt; 
}

td.autenticazione { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px; 
	color: #3366cc;
	background-color: #e8f3ff;
	padding-left: 4px;
}


/***************************************
*       Stili per l'AREA LOGHI         *
***************************************/
body.loghi {
	margin: 0;
	background-color: #efefef;
}

td.loghi { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px; 
	color: #000066; 
	background-color: #efefef;
}

td.loghi2 { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px; 
	color: #000066; 
	background-color: #e8e8ff;
	border: 1px solid #ffffff;
}

td.loghi3 { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px; 
	color: #000066; 
	background-color: transparent;
	border: 0px;
}

a.loghi:link,a.loghi:visited,a.loghi:hover { 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px; 
	color: #000066; 
	/*background-color: #4eb1fa;*/
}

table.percorso,td.percorso {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px; 
	color: #000066; 
	background-color: #e8e8ff;
}

INPUT.orologio 
{
	font-weight: bold;
	font-size: 11px;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	color: #000066;	
	background-color: #efefef;		   
	border: 0px; 
	margin: 0;  padding: 0;
}

	
/*******************************************
*      Stili dei menu del frame "menu"     *
*******************************************/
body.menu {
	margin: 0;
	background-color: #efefef;
	color: #000066;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
}

body.vuoto2 {
	color: #000066;
	background-color: #efefef;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	margin: 0;
}

a.menu:link,a.menu:visited,a.menu:hover {
	color: #000066;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px; 
	text-decoration: underline; 
}


table.menu {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: 0px;
}



td.menu {
	background-color: #efefef;
	color: #000066;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #99ccff;
	padding-left: 0px;
}
td.menu a.menu:link,a.menu:visited,a.menu:hover {
	color: #000066;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px; 
	text-decoration: none; 
}

.menu_voce_attiva {
	background-color: #ffffff;
	color: #000066;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	border: 1px solid #99ccff;
	padding-left: 5px;
}

/* ***************************************************
*	Stili del frame "gestione"     *
*****************************************************/
body.gestione {
	
	margin: 0;
	background: #ffffff url(../img/angoli/tl_gestione.gif) top left no-repeat fixed;
	/*text-align: center;*/
}

body.vuoto1 {
	color: #000066;
	background-color: #ffffff;
	margin: 0;
}

/*************************************************************************
	STILI PER LA TESTATA (INFORMAZIONI CORRENTI LAVORATORE
*************************************************************************/
p.info_lav { 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
	color: #000066;
	position: relative;
	width: 96%;
	left: 2%;
	text-align: left;
	margin: 0;
}

.info {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
	font-style: normal;
	color: #000066;
	background-color: #cce4ff;
	margin: 0px;
}
a.info_lav:link, a.info_lav:visited, a.info_lav:hover {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
	color: #000066;
	text-decoration: underline;	
}

.roundedCornerSpacer {
    margin: 0px; padding: 0px; border: 0px;
    clear: both;
    font-size: 1px; line-height: 1px;
}

.borderTL10, .borderTR10, .borderBL10, .borderBR10 {
   width: 10px; height: 10px;
    padding: 0px; border: 0px;
    z-index: 99;
}
.borderTL10, .borderBL10 { float: left; clear: both; }
.borderTR10, .borderBR10 { float: right; clear: right; }
.borderTL10 { margin: -1px 10px 0px -1px; }
.borderTR10 { margin: -1px -3px 0px 10px; }
.borderBL10 { margin: -10px 10px 0px 0px; }
.borderBR10 { margin: -10px -3px 0px 10px; }

.contentIC {
    margin: 0px;
    padding: 0px;
	border: 1px solid #e8f3ff;
	background: #e8f3ff;
	/*width: 100%;*/
}
.contentInfoC {
    padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
    border: 0px;
	position: relative;
	width: 92%;
	left: 4%;
	/*right: 4%;*/
	text-align: left;
	margin: 0px;
} 
.contentInfoC p.info_lav { margin: 0; padding:0; }



/******************************************************************************/

table.main {
	width: 100%;
	margin: 0px;
	border: 0px;
	padding: 2px;
	text-align: center;
}

td.prof_mod {
	background-color: #cce4ff;
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	font-weight: normal;
}
td.prof_ro {
	background-color: #e8f3ff;
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	font-weight: normal;
}

table.base {
	width: 94%;
	margin: 0px;
	border: 0px;
	padding: 0px;
	left: 4%;
}


table.info_mod, td.info_mod {
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
	color: #000066;
	max-width: 100%;
	margin: 0px;
	border: 0px;
	padding: 2px;
	white-space: nowrap;
}

td.etichetta {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: right;
	font-weight: normal;
	text-decoration: none;
	width: 30%;
	padding-right: 12px;
}

td.etichettaLeft {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: left;
	font-weight: normal;
	text-decoration: none;
	width: 25%;
	padding-right: 12px;
}
td.etichettaLeftSmall {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: left;
	font-weight: normal;
	text-decoration: none;
	width: 15%;
	padding-right: 12px;
}

td.etichettaSmall {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: right;
	font-weight: normal;
	text-decoration: none;
	width: 10%;
	padding-right: 12px;
}


span.etichetta {
	/* simile a td.etichetta, usato per scrivere etichette in campo "td.campo" */
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	vertical-align: top;
}

td.campo {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: left;
	text-decoration: none;
	width: 70%;
}

td.campoBigger {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: left;
	text-decoration: none;
	width: 75%;
}


td.campo1 {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: left;
	text-decoration: none;
}

td.campoSmall {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: left;
	text-decoration: none;
	width: 30%;
}

td.campoSmaller {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: left;
	text-decoration: none;
	width: 15%;
}

td.bianco {
	color: #3366cc; 
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 11px;
	font-weight: bold;
	text-align: left;
}

td.azzurro_bianco {
	color: #3366cc; 
	background-color: #cce4ff;
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	border: 1px solid #ffffff;
	padding-left: 3px;
}

td.ido_bordato { 
	border-width: 1px; 
	border-style: solid; 
	border-color: #cce4ff;
	background-color: #e8f3ff;
	color: #000080;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	padding: 2px;
	margin: 0px;
	text-align: left;
}


td.etichetta2 {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: right;
	text-decoration: none;
	padding-right: 12px;
}

td.campo2 {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: left;
	text-decoration: none;
}

td.campocentrato {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	text-align: center;
}

td.campo_read {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px; 
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	border: 0px;
	margin: 0px;
	padding-left: 12px;
	width: 70%;
}

td.campo_readFree {
	color: #000066;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	border: 0px;
	margin: 0px;
	padding-left: 12px;
	/* non ho la width fissata */
}

p.titolo {
	text-decoration: none;
	border: 0px;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	color: #000066;
	text-align: center;
}

span.sezione {
	position: relative;
	width: 94%;
	left: 4%;
	text-align: left;
	text-decoration: none;
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	border-bottom-width: 2px; 
	border-bottom-style: solid;
	border-bottom-color: #000066;
}

span.sezioneMinimale {
	position: relative;
	left: 4%;
	text-align: left;
	text-decoration: none;
	color: #000066;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000066;
}

div.sezione {
	position: relative;
	width: 94%;
	left: 4%;
	text-align: left;
	text-decoration: none;
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	border-bottom-width: 2px; 
	border-bottom-style: solid;
	border-bottom-color: #000066;
}

/* Per l'utilizzo dentro ai td */
div.sezione2 {
	position: relative;
	width: 98%;
	left: 1%;
	text-align: left;
	text-decoration: none;
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	border-bottom-width: 2px; 
	border-bottom-style: solid;
	border-bottom-color: #000066;
}
div.sezione3 {
	position: relative;
	text-align: left;
	text-decoration: none;
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	border-bottom-width: 2px; 
	border-bottom-style: solid;
	border-bottom-color: #000066;
}

span.bottoni {
	width: 94%;
	left: 4%;
	text-align: center;
	text-decoration: none;
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
}

/* Griglia -> Menu Superiore */
/* 
	Il menu sulla prima riga (quello con 1, 2, 3, ...) è contenuto da un div 
   ed è formato da tag <a href=....>
*/
/* Disegna la riga di sottolineatura dei tag <a href=....> */
div.menu {
   border-width: 1px; 
	border-style: solid; 
	border-color: #ffffff #ffffff #efefef #ffffff;
	background-color: #ffffff;
	position: relative;
	width: 100%;
	padding-bottom: 4px;
	padding-left: 4%;
	padding-top: 4px;
	padding-right: 0;
	margin-bottom: 1px;
}
/* Griglia -> Menu Inferiore */
/* 
	Il menu sulla seconda riga (quello con 1.1, 1.2, 1.3, ...) è contenuto in un div 
   ed è formato da tag <a href=....>
*/
/* Disegna la riga di "intestazione" dei tag <a href=....> */
div.menu2 {
   border-width: 1px; 
	border-style: solid; 
	border-color: #3366ff #ffffff #ffffff #ffffff;
	background-color: #ffffff;
	position: relative;
	width: 100%;
	padding-top: 4px;
	padding-left: 4%;
	padding-bottom: 0px;
	padding-right: 0;
	margin-top: 1px;
}

/*************************************
        LINGUETTE
**************************************/

/* Livello i%3 == 1 */
/* Elemento del Menu Selezionato */
a.sel1:link,a.sel1:visited,a.sel1:hover {
    border-right:  1px solid #ffffff;
	color: #ffffff;
	background: #3366ff url(../img/angoli/bia1.gif) no-repeat top left;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	margin:0;
	z-index: 99;	
}
span.tr_round1{
	color: #ffffff; 
	background: #3366ff url(../img/angoli/bia2.gif) top right no-repeat;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
/*	padding-left: 0px;
	padding-top: 4px;*/
	padding-right: 10px;
	/*padding-bottom: 4px;*/
	margin: 0px;
}	

a.bordato1:link,a.bordato1:visited,a.bordato1:hover {
	border-right:  1px solid #ffffff;											
	color: #000066; 
	background: #cce4ff url(../img/angoli/bia1.gif) top left no-repeat;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	/*font-weight: bold;*/
	text-align: center;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	z-index: 99;
	margin: 0px;
}

a.bordato1_alt:link,a.bordato1_alt:visited,a.bordato1_alt:hover {
	border-right:  1px solid #ffffff;											
	color: #000066; 
	background: #cce4ff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	/*font-weight: bold;*/
	text-align: center;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	margin: 0px;
}

span.tr_round11{
	color: #000066; 
	background: #cce4ff url(../img/angoli/bia2.gif) top right no-repeat;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	text-align: center;
	text-decoration: none;
	/*padding-left: 0px;
	padding-top: 4px;*/
	padding-right: 10px;
	/*padding-bottom: 4px;*/
	margin: 0px;
}


a.sel2:link,a.sel2:visited,a.sel2:hover {
	border-right: 1px solid #ffffff;
	color: #ffffff; 
	background: #3366ff url(../img/angoli/bia4.gif) bottom left no-repeat;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	z-index: 99;
	margin: 0px;
}	

a.sel2_alt:link,a.sel2_alt:visited,a.sel2_alt:hover {
	border-right: 1px solid #ffffff;
	color: #ffffff; 
	background: #3366ff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
span.tr_round2{
	color: #ffffff; 
	background: #3366ff url(../img/angoli/bia3.gif) bottom right no-repeat;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	/*padding-left: 0px;
	padding-top: 4px;*/
	padding-right: 10px;
	/*padding-bottom: 2px;*/
	margin: 0px;
}

a.bordato2:link,a.bordato2:visited,a.bordato2:hover {
	border-right:  1px solid #ffffff;
	color: #000066; 
	background: #efefef url(../img/angoli/bia4.gif) bottom left no-repeat;;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	z-index: 99;
	margin: 0px;
}

a.bordato2_alt:link,a.bordato2_alt:visited,a.bordato2_alt:hover {
	border-right:  1px solid #ffffff;
	color: #000066; 
	background: #efefef;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	z-index: 4;
	margin: 0px;
}

span.tr_round22{
	color: #000066; 
	background: #efefef url(../img/angoli/bia3.gif) bottom right no-repeat;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	/*padding-left: 0px;
	padding-top: 4px;*/
	padding-right: 10px;
	/*padding-bottom: 2px;*/
	margin: 0px;
}	

/* N.B. GLI STILI DEL LIVELLO 3 NON SONO STATI DEFINI */
/* Livello i%3 == 3 */
/* Elemento del Menu Selezionato */
a.sel3:link,a.sel3:visited,a.sel3:hover {
	border: 0px;
	color: #ffffff; 
	background-color: #3366ff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	padding: 4px;
}	
/* Elemento del Menu Cliccabile */
a.bordato3:link,a.bordato3:visited,a.bordato3:hover {
	border-width: 1px; 
	border-style: solid; 
	border-color: #000080 #000080 #000080 #000080;
	color: #000080; 
	background-color: #dcdcdc;
	font-family: Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}




/* Livello i%3 == 0 */
/* Elemento del Menu Selezionato */
a.sel0:link,a.sel0:visited,a.sel0:hover {
	border-width: 1px; 
	border-style: outset; 
	border-color: #ffffff #ffffff #000080 #000080;
	color: #dcdcdc; 
	background-color: #000080;
	font-family: Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}	
/* Elemento del Menu Cliccabile */
a.bordato0:link,a.bordato0:visited,a.bordato0:hover {
	border-width: 1px; 
	border-style: solid; 
	border-color: #000080 #000080 #000080 #000080;
	color: #000080; 
	background-color: #dcdcdc;
	font-family: Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}




/* ****************************************
 FINE LINGUETTE  
***************************************** */

/* Layout delle liste */
td.bordato { 
	border-width: 1px; 
	border-style: solid; 
	border-color: #000080;
	color: #000080; 
	font-family: Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}

td.bordato2 { 
	border-width: 1px; 
	border-style: solid; 
	border-color: #000080;
	color: #000080; 
	font-family: Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 12px;
	font-weight: normal;
}

td.sottolineato {
	border-bottom-width: 1px;
	border-bottom-style: solid; 
	border-bottom-color: #000080;
	color: #000080; 
	font-family: Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 12px;
	font-weight: normal;
   white-space: nowrap;
}

/**********************************
*    Stili per il Calendario      *
**********************************/

/* 
mio: "Courier New",Verdana,"Times New Roman", Arial, Sans-serif; 
altro: Verdana, Arial, Helvetica, Sans-serif; 
*/
table.cal {
	background-color: #e8f3ff;
	color: #3366CC;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	padding: 2px;
	margin: 0px auto;
	border: 0px;
	width: 94%;
	position: relative;
	left: 2%;
	text-align: left;
}

tr.cal {
	margin: 0px;
	padding: 0px;
}
td.cal {
	background-color: #e8f3ff;
	color: #3366CC;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	border: 0px;
	white-space: nowrap;
}
th.cal_header, td.cal_header {
	color: #000066; 
	background-color: #cce4ff;
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 10px;
	font-weight: bold;
	/*text-align: center;*/
	margin: 0px;
	border: 0px;
	padding: 0px;
}

td.cal_settimana {
	border-width: 1px; 
	border-style: solid; 
	border-color: #3366cc;
	color: #3366cc; 
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
}

td.cal_legenda {
	/*border-width: 1px; 
	border-style: solid; 
	border-color: #3366cc;*/
	color: #3366cc; 
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 9px;
	font-weight: bold;
	text-align: left;
	/*padding-left: 2px;
	padding-right: 2px;*/
}
.cal_legenda {
	color: #000080; 
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	/*padding-left: 2px;
	padding-right: 2px;*/
	padding: 2px;
	margin: 1px;
	border: 1px solid #cce4ff;
}

td.cal_legenda1 {
	border-right-width: 1px; 
	border-right-style: solid; 
	border-right-color: #cce4ff;
	color: #3366cc; 
	/*background-color: #FFFFFF;*/
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	/*padding-left: 2px;
	padding-right: 2px;*/
}
td.cal_legenda2 {
	border-left-width: 1px; 
	border-left-style: solid; 
	border-left-color: #cce4ff;
	color: #3366cc; 
	/*background-color: #FFFFFF;*/
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	/*padding-left: 2px;
	padding-right: 2px;*/
}

td.cal_giorno {
	border-width: 1px; 
	border-style: solid; 
	border-color: #99CCFF;
	/*color: #3366FF; */
	color: #000066; 
	background-color: #f4faff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

td.cal_fascia {
	border-width: 1px; 
	border-style: solid; 
	border-color: #cce4ff;
	color: #000080; 
	background-color: #f4faff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	text-align: left;
}
/*
td.cal_bordato { 
	border-width: 1px; 
	border-style: solid; 
	border-color: #000080;
	color: #000080; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 11px;
	font-weight: normal;
	text-align: left;
}*/
td.cal_bordato { 
	border-width: 1px; 
	border-style: solid; 
	border-color: #cce4ff;
	background-color: #e8f3ff;
	color: #000080;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	padding: 2px;
	margin: 0px;
	white-space: nowrap;
	text-align: center;
}

td.cal_titolo { 
	border-width: 1px; 
	border-style: solid; 
	border-color: #cce4ff;
	/*background-color: #f4faff;*/
	background-color: #ffffff;
	color: #3366CC; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	padding: 1px;
	margin: 0px;
}
td.cal_titolo2 { 
	border-top-width: 1px; 
	border-bottom-width: 1px; 
	border-top-style: solid; 
	border-bottom-style: solid;
	border-color: #cce4ff;
	/*background-color: #f4faff;*/
	background-color: #ffffff;
	color: #3366CC; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	padding: 1px;
	margin: 0px;
}
/*
td.cal_oggi {
	border-width: 1px; 
	border-style: solid; 
	border-color: #005500;
	color: #005500; 
	background-color: Yellow;
	font-family: "Courier New",Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}*/
td.cal_evid {
	border-width: 1px; 
	border-style: solid; 
	border-color: #99CCFF;
	color: #3366CC; 
	background-color: #FFFFB9;
	font-family: Verdana, Arial, Helvetica, Sans-serif;   
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
/* serve solo per l'intestazione all'agenda: deve essere uguale
a cal_evid, senza il background e senza il bordo*/
td.cal_evid_nobg {
	color: #3366CC; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;   
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}
span.cal_evid {
	border-width: 1px; 
	border-style: solid; 
	border-color: #99CCFF;
	color: #3366CC; 
	background-color: #FFFFB9;
	font-family: Verdana, Arial, Helvetica, Sans-serif;   
	font-size: 9px;
	font-weight: bold;
	text-align: center;
}

td.cal_sel {
	border-width: 1px; 
	border-style: solid; 
	border-color: #99CCFF;
	color: #000066; 
	background-color: #4eb1fa;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	
}
/* serve solo per l'intestazione all'agenda: deve essere uguale
a cal_sel, senza il background e senza il bordo*/
td.cal_sel_nobg {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 9px;
	font-weight: bold;
	white-space: nowrap;
}
span.cal_sel {
	border-width: 1px; 
	border-style: solid; 
	border-color: #99CCFF;
	color: #000066; 
	background-color: #4eb1fa;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 9px;
	font-weight: bold;
	text-align: center;
}

td.cal_vuoto {
	border-width: 1px; 
	border-style: solid; 
	border-color: #99CCFF;
	color: #000066; 
	background-color: #efefef;
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 10px;
	font-weight: lighter;
	font-style: oblique;
	text-align: center;
}

td.cal_vuoto_sel {
	border-width: 1px; 
	border-style: solid; 
	border-color: #99CCFF;
	color: #000066; 
	background-color: #efefef;
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 10px;
	font-weight: lighter;
	font-style: oblique;
	text-align: center;
	cursor: pointer;
}
/* serve solo per l'intestazione all'agenda: deve essere uguale
a cal_sel, senza il background e senza il bordo*/
td.cal_vuoto_nobg {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 9px;
	font-weight: lighter;
	font-style: oblique;
	white-space: nowrap;
}
span.cal_vuoto {
	border-width: 1px; 
	border-style: solid; 
	border-color: #99CCFF;
	color: #000066; 
	background-color: #efefef;
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 9px;
	font-weight: lighter;
	font-style: oblique;
}

a.cal:link,a.cal:visited,a.cal:hover {
	text-decoration: none; 
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px;
}

a.cals:link,a.cals:visited,a.cals:hover {
	text-decoration: underline; 
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif;  
	font-size: 10px;
}

a.calh:link,a.calh:visited,a.calh:hover {
	text-decoration: none; 
	color: #3366cc; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 10px;
}

table.appuntamenti {
	color: #000066; 
	/*background: #e8f3ff;*/
	background: #f4faff;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	width: 100%;
	margin: 0 auto;
	border-left: 1px solid #cce4ff;
	border-right: 1px solid #cce4ff;
	/*border: 0px;*/
	padding: 2px;
}

.ag_pulsanti {
   border: #dddddd 1px outset;
   font-weight: bold;
   font-size: 9px;
   color: #ffffff;
   font-style: normal;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   background-color: #999999; 
}
.ag_pulsantiDisabled {
   border: #efefef 1px solid;
   font-weight: bold;
   font-size: 9px;
   color: #ffffff;
   font-style: normal;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   background-color: #E2E2E2;
}

td.ag_lista {
	color: #000066; 
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	font-weight: normal;
	text-align: left;
   /*white-space: nowrap;*/
}

th.ag_lista {
   /*background: #e8f3ff;*/
	color: #3366CC; 
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, Sans-serif; 
	font-size: 11px;
	text-align: left;
	/*border-bottom-width: 1px;
	border-bottom-style: solid; 
	border-bottom-color: #000080;*/
}
/*************** FINE CALENDARIO ***********************************/



/* titolo sezione associazione al patto con relativi pulsanti apri/cancella */
table.sezione {
	border-collapse:collapse;
	font-family: Verdana,"Times New Roman", Arial, Sans-serif; 
	font-size: 12px;
	font-weight: bold;
	border-bottom-width: 2px; 
	border-bottom-style: solid;
	border-bottom-color: #000080;
	color:#000080;
	position: relative;
	width: 98%;
	left: 1%;
	text-align: left;
	text-decoration: none;
	
}
td.sezione_pulsante {
	width:30;
	text-align:right;
}
td.sezione_titolo {
	vertical-align: bottom;
	text-indent:10;
}

/** PROGRESS BAR */
span.ProgressBarEmpty {
	font-family: "courier new", monospace;
	font-size: 15px;
	color: #229AFD;
	background-color: #BBBBE2;
	font-weight: bold;
}
span.ProgressBarFill {
	font-family: "courier new", monospace;
	font-size: 15px;
	color: #0000FF;
	background-color: #229AFD;
	font-weight: bold;
}
span.ProgressBarLimit {
	font-family: "courier new", monospace;
	font-size: 15px;
	color: #000000;
	background-color: #229AFD;
	font-weight: bold;
}
span.ProgressBarPercent {
	font-family: "courier new", monospace;
	font-size: 12px;
	color: #008000;
}

/** Per mostrare i filtri usati nella ricerca (vedi classe RicercaUtils) */
table.filtriricerca {
	margin-top: 3px;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	border-width: 1px;
	border-style: solid;
	text-color: #000080;
	border-color: #000080;
	background-color:#dcdcdc;
}
span.filtriricercaTxt {
}
span.filtriricercaVal {
	font-weight: bold;
}


.dropzone {
    width: 200px;
    font-size: 12px;
    background-color: azure;
}

