/** REGOLE GENERALI **/
.ui-button.redButton span.ui-icon {
    background-image: url("../../../resources/css/myportal/images/ui-icons_ffffff_256x240.png") !important;
}

.ui-state-active {
	color: #515151 !important;
}

.container-div {
	background-color: white;
	border: 1px solid #FFCC3D;
	border-radius: 5px;
	padding: 1.5em;
}

/** BOTTONI **/						  
.ui-button.ui-state-default {
	background-color: #ce1c18;
	box-shadow:	0 0 0;
	text-shadow: none;
	background-image: none;
	color: white;
}

.ui-button.ui-state-hover {
	background-color: #f7e7bd;
	color: #333333;
	box-shadow:	0 0 8px #777777, 0 1px 0 #FFFFFF inset;
}

.ui-button.ui-state-active {
	background-color: #f7e7bd;
}

/** DIALOG **/
.ui-dialog-titlebar {
	background-color: #ffcb39;
	color: #525152;
	background-image: linear-gradient(rgba(243, 219, 156, 0.8), rgba(237, 200, 103, 0)) !important;
}

/** ACCORDION **/
.ui-accordion-header a {
	background-image: linear-gradient(rgba(243, 219, 156, 0.8), rgba(237, 200, 103, 0)) !important;
	background-color: #ffcb39;
	text-shadow: 0 0 0;
	color: #525152;				
}

.ui-accordion .ui-state-hover {
	background-color: #f7e7bd;
	box-shadow: 0 0 8px #f7e7bd, 0 1px 0 #edc867 inset;
}

/* CALENDAR / DATEPICKER */
.ui-datepicker-header {
	background: #FFCC3D !important;
}

.ui-datepicker-trigger .ui-button-text {
	background-color: #FFCC3D;
}

.ui-datepicker table {
	border-spacing: 2px !important;
	border-collapse: separate !important;
}

.ui-datepicker td:not(.ui-datepicker-other-month) {
	border-radius: 5px;
	background:#FFCC3D !important;
}

.ui-datepicker td.ui-datepicker-current-day .ui-state-default {
	background: #FFCC3D !important;
	color: #4f4f4f !important;
	font-weight: normal;
}

.ui-datepicker td a {
	/* Per evitare il trattino bianco nei giorni del calendario */
	webkit-box-shadow: none;
	box-shadow: none;
}

.ui-datepicker .ui-state-highlight {
	text-shadow: none !important;
}

/* SELECTONEBUTTON */
.ui-selectonebutton .ui-button.ui-state-active {
	background-color: white !important;
	border: 1px solid #FFCC3D !important;
}

.ui-selectonebutton .ui-button {
	background-color: #FFCC3D !important;
	color: #282828 !important;
}