.jamon-container {
	overflow-x: scroll;	
}

.jamon-container fieldset {
	border: none;
}

.jamon-container label {
	font-weight: bold;
	margin-right: 0.5em;
}

.jamon-container table {
	font-size: 100%;
}

.jamon-container .jamon-content th, .jamon-container .jamon-content td {
	padding: 6px 5px;
}

.jamon-container .bold {
	font-weight: bold;
}

.jamon-container #memoria_report {
	border: 1px solid;
	padding: 1em;
	margin: 1em;
}

.jamon-container #options {
	margin: 1em;
}

.jamon-container .options-element {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.jamon-container .buttonLink {
	font-size: 130%;
	margin: 0em 0.5em;
}

.jamon-container th {
	background-color: #B2B2B2;
}

.jamon-container .jamon-content tr:nth-child(even) td {
	background-color: #E6E6E6;
}

.jamon-container th:nth-child(14), td:nth-child(14), td:nth-child(15), th:nth-child(15),
	th:nth-child(16), td:nth-child(16), td:nth-child(17), th:nth-child(17)
	{
	display: none;
}
