.home_menu .home_menu_header {
    background-color: #a5c78c;
    color: #f0f0f0;
}
.ui-icon
{
    background-color: white;
}
#contentCarousel {
    background-color: #a5c78c;
}

#subsiteTitle {
    padding-top: 0px;
    height: 5px;
}

#portal-colophon {
    border-top:	1px solid #CCCCCC;
    height:	50px;
}

#trento-background {
    width: 420px;
    height: 450px;
    float: left;
}

.login-panel {
    background-repeat:	no-repeat;
    background-position: left top;
    background-color: #efe7de;
    min-height: 450px;	
    border:	1px solid #CCCCCC;
    float: left;
}

#login-form {
    float: left !important;
    margin-top: 20px !important;
}

a.ui-button {
    background-color: #a5c78c;
    border:	1px solid #357135;
    border-radius: 3px 3px 3px 3px;
    margin:	4px;
}

a.ui-state-hover {
    background-color: #f7e7bd !important;
    background-image: none !important;
    border:	1px solid #000000 !important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 2px 5px #AAAAAA; 	
    color: #333333 !important;
}

#contentCarousel {
    height: 50px;	
    background-repeat:		no-repeat;
    background-position:	left -55px;
    background-color:			#efe7de;
    border:								1px solid #CCCCCC;	
}

.ui-menu .ui-menu-item a.ui-state-hover {
    background-color:	#CCCCCC !important; 	
}

.ui-widget-content a.ui-state-default {
    background-color:	#a5c78c;
    border:						1px solid #357135;
    border-radius:		3px 3px 3px 3px;
}

a.ui-button:link {
    color: #525152 !important;	
}

.ui-tabs .ui-widget-header {
    border: 1px solid #777777 !important;	
}





.portletHeader {
    padding-right:		0px !important;
}

.portlet dt.portletHeader span.tile {
    cursor: 					default;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#dddddd), to(#f7f7f7)) !important;	
    background-image: -moz-linear-gradient(bottom, #dddddd, #f7f7f7 100%) !important;	

    border:						1px solid #CCCCCC;
    border-radius:		5px;
}

#content .portlet dd {
    box-shadow: 1px 1px 3px #CCCCCC;	
}

.portletItem {
    border: 1px solid #CCCCCC !important;
    background-color: #f7f7f7;
    width: 96% !important;
}

#portal-header {
    padding-top: 			5px;
    padding-bottom: 	0px !important;
    background-image: -webkit-gradient(linear, left top, right top, from(#efe7de), to(#f8f3ef)) !important;
    background-image: -moz-linear-gradient(left, #efe7de, #f8f3ef 100%) !important;	
}

#portal-header a img {	
    margin-top: 15px;
}

html, body {
    margin: 	0px;
    padding: 	0px;
}

.portlet-close {
    top: 6px;
}

a.ui-button.yellowButton, 
input.buttonStyle.ui-button.yellowButton, 
button.ui-button.ui-widget.ui-state-default.yellowButton, 
.ui-datepicker-calendar td a.ui-state-default {
    background-color: #2653c8;
    border:						1px solid #357135;
}

.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus {
    background-image: none !important;
    background-color: #f7e7bd !important;
}
.ui-widget-content {
    border:						1px solid #357135;
}

.ui-tabs .ui-state-active {
    background-color: #f7e7bd !important;
}

.ui-autocomplete.ui-state-hover {
    background-color: #CCCCCC !important;
}

.ui-widget-header {
    background-color: #2653c8;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    background-color: #f7e7bd !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding: 0px !important;
}

#content a.buttonStyle.yellowButton:hover {
    background-color: #f7e7bd !important;
}

a.ui-button, 
input.buttonStyle.ui-button,   
button.ui-button.ui-widget.ui-state-default {
    background-color: #a5c78c;
    border:						1px solid #357135;
    border-radius:		5px;
}

.ui-button {
    margin: 5px;	
}

#home_menu_title {
    background-color: transparent !important;
}

#page_title {
    background-position: 	left;
    background-repeat:		no-repeat;
    background-color:			#efe7de;
}

.ui-state-default {
    border:						1px solid #357135;
}

.ui-widget-content .ui-state-default, a.ui-state-default.comboBoxStyle {
    background-color: #addcad;
}

a.ui-state-default.comboBoxStyle {
    background-color: #3667b3 !important;
}

.portlet dt.portletHeader,
dl.homePortlet dt.portletHeader {	
    width:						96% !important;
}

.dataTables_wrapper table td a.ui-state-default {
    background-color: #a5c78c !important;
    border: 0px !important;
}

#home_menu_title {
    background-color: #00a7ee !important;
}

.home_menu_header div {
    background-color: #31aa47 !important;
}

.ui-button.ui-state-default {
    background-color: #2653c8 !important; 
    color: silver;
}


#accordion .ui-state-hover {
    background-color: #f7e7bd !important;
}

#accordion .ui-state-active
{
    background-color: #f7e7bd !important;
}

.ui-button:hover, .marginButton:hover, .yellowButton:hover {
    background-color: #f7e7bd;
    color: #3667b3; 
    
}

.backButtonStyle {
    color: #3667b3 !important; 
}

.marginButton {
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    color:				 #525152 !important;
    background-color: #a5c78c;
    text-decoration: none !important;
    border: 1px solid #317131 !important;
    border-radius:		3px 3px 3px 3px;
}

#masterForm .ui-widget-header {
    padding: 10px;
}

#masterForm #dialog_image_opener {
    padding: 2px;
    height:		auto;
}

.infoButton {
    padding: 4px !important;
    padding-right: 15px;
    padding-left: 15px;
    background-color:	#a5c78c;
    border:						1px solid #357135;
    border-radius:		3px 3px 3px 3px;	
    color: #525152;
    font-size: 1.2em;
}

.infoButton:hover {
    padding: 4px !important;	
    padding-right: 15px;
    padding-left: 15px;
    background-color:	#f7e7bd;
    border:						1px solid #525152;
    border-radius:		3px 3px 3px 3px;	
    color: #525152 !important;
    font-size: 1.2em;
    text-decoration: none !important;
}

#altre_info .marginButton, 
#abilitazioni .marginButton {
    padding: 4px !important;	
}

.ui-accordion-header {
    background-color: #a5c78c !important;
    background-image: none !important;
    border: 1px solid #317131 !important;
}

.ui-tabs .ui-widget-header {
    background-color: #a5c78c !important;
}

a.buttonStyle span.ui-button-text {
    color: #f0f0f0;
}



span.ui-button-text:hover {
	color: #f0f0f0 !important;
}


#contentCarousel {
    background-color: #31aa47 !important;	
}

#form_search:dove_input {
    background-color: #FFFFFF !important;	
}

.ui-accordion-header a {
    background-color: #a5c78c !important;	
    background-image: none !important; 
}

a.ui-button, input.buttonStyle.ui-button, button.ui-button.ui-widget.ui-state-default,
.ui-widget-content a.ui-state-default, .cleanButton {
    color: #f0f0f0 !important;
    margin-left: -3px;
    margin-bottom: 3px;
}

#form_lista_filtri:filtrationAccordion:contratto_data .ui-widget-content,
#form_lista_filtri:filtrationAccordion:contratto_data .ui-datatable-odd,
#form_lista_filtri:filtrationAccordion:contratto_data .ui-state-hover {
    background-color: #990000 !important; 
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    border: 1px solid #000000 !important;
    box-shadow: 0px 2px 5px #AAAAAA !important;
    background:none !important;
}

a.ui-button, input.buttonStyle.ui-button, button.ui-button.ui-widget.ui-state-default {
    border: 1px solid #777777;
}

.ui-tabs .ui-tabs-nav li a {
    background-color: #bdd79c !important;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ui-widget-header .ui-state-default {
    border-color: #525152 !important;
}

.ui-widget-content .ui-state-default {
    border-color: #525152 !important;
}

.home-dialog-info-content {
    padding-left: 2em !important;
}

.ui-dialog-titlebar {
    border-color: #888888;
}

.yg_td {
    margin: 0px;   
    padding: 0px;
    background-color: #fff !important;	  	
    border-radius: 0px !important; 
}

.yg_td_padding_top {
    padding-top: 10px;
}

td .marginButton {
    background-color: #fff !important;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;	
    text-decoration: none !important;
    border: 0px solid #fff !important;
    border-radius:		0px 0px 0px 0px;
}

.yg_td_border_bottom {
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #a5c78c;
    padding-bottom: 10px;
} 



.cal_logo{
	background: #3667b3;
}


div.lab_lxt{
	
    display: inline;

    font-size: 23pt; 
  
    font-weight: normal;
    color: white ;
    background-color: #31aa47;
    
}
	
	


div.cal_footer{
	background-color: #3667b3;
	color: #f0f0f0;
	text-align: center;	
	margin-top: 10px;
	padding-top: 10pt;
	padding-bottom: 10pt;

}

a.cal_link_footer{
	color : #f0f0f0;
}




