/** REGOLE GENERALI **/
.ui-button.redButton span.ui-icon {
    background-image: url("../../../resources/css/myportal/images/ui-icons_ffffff_256x240.png") !important;
}

.ui-state-active {
	color: #515151 !important;
}

.ui-state-default .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}

.container-div {
	background-color: white;
	border: 1px solid #2653c8;
	border-radius: 5px;
	padding: 1.5em;
}

/** BOTTONI **/						  
.ui-button.ui-state-default {
	background-color: #2653c8 !important;
	box-shadow:	0 0 0;
	text-shadow: none;
	background-image: none;
	color: #F0F0F0 !important;
}

.ui-button.ui-state-hover {
	background-color: #2653c8 !important;
	color: #F0F0F0 !important;
	box-shadow:	0 0 8px #777777, 0 1px 0 #FFFFFF inset;
}

.ui-button.ui-state-active {
	background-color: #2653c8 !important;
}

/** RADIOBUTTON **/
.ui-radiobutton .ui-state-default .ui-icon {
    background-image: url("images/ui-icons_2e83ff_256x240.png");
}

.ui-radiobutton .ui-state-default .ui-icon, .ui-radiobutton .ui-state-focus .ui-icon {
    background-image: url("images/ui-icons_2e83ff_256x240.png");
}

/** CHECKBOX **/
.ui-chkbox .ui-state-default .ui-icon {
    background-image: url("images/ui-icons_2e83ff_256x240.png");
}

.ui-chkbox .ui-state-default .ui-icon, .ui-radiobutton .ui-state-focus .ui-icon {
    background-image: url("images/ui-icons_2e83ff_256x240.png");
}

/** DIALOG **/
.ui-dialog-titlebar {
	background-color: #addcad;
	color: #525152;
	background-image: linear-gradient(rgba(243, 219, 156, 0.8), rgba(237, 200, 103, 0)) !important;
}

/** ACCORDION **/
.ui-accordion-header a {
	background-image: linear-gradient(rgba(243, 219, 156, 0.8), rgba(237, 200, 103, 0)) !important;
	background-color: #addcad;
	text-shadow: 0 0 0;
	color: #525152;				
}

.ui-accordion .ui-state-hover {
	background-color: #f7e7bd;
	box-shadow: 0 0 8px #f7e7bd, 0 1px 0 #edc867 inset;
}

/* CALENDAR / DATEPICKER */
.ui-datepicker-header {
	background: #addcad !important;
}

.ui-datepicker-trigger .ui-button-text {
	background-color: #addcad;
}

.ui-datepicker table {
	border-spacing: 2px !important;
	border-collapse: separate !important;
}

.ui-datepicker td:not(.ui-datepicker-other-month) {
	border-radius: 5px;
	background: #addcad !important;
}

.ui-datepicker td.ui-datepicker-current-day .ui-state-default {
	background: #addcad !important;
	color: #4f4f4f !important;
	font-weight: normal;
}

.ui-datepicker td a {
	/* Per evitare il trattino bianco nei giorni del calendario */
	webkit-box-shadow: none;
	box-shadow: none;
}

.ui-datepicker .ui-state-highlight {
	text-shadow: none !important;
}

/* SELECTONEMENU */
.ui-selectonemenu .ui-selectonemenu-trigger {
	background-color: #2653c8 !important;
}

/* SELECTONEBUTTON */
.ui-selectonebutton .ui-button.ui-state-active {
	background-color: white !important;
	border: 1px solid #addcad !important;
}

.ui-selectonebutton .ui-button {
	background-color: #addcad !important;
	color: #282828 !important;
}

/*AutoCandidatura*/
	/*SelectOneMenu*/
	#candidaVacancyForm .ui-selectonemenu{
	     width: 100% !important;
	}
	#candidaVacancyForm .ui-selectonemenu-label{
	     width: calc(100% - 8px) !important;
	}  

/* HEADER, FOOTER, ECCETERA */
html {
	margin: 0px;
	padding: 0px;
}

#portal-header {
    padding-top: 5px;
    padding-bottom: 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(#efe7de), to(#f8f3ef)) !important;
    background-image: -moz-linear-gradient(left, #efe7de, #f8f3ef 100%) !important;	
}

#portal-header a img {	
    margin-top: 15px;
}

#contentCarousel {
    background-color: #31aa47 !important;	
    height: 50px;	
    background-repeat: no-repeat;
    background-position: left -55px;
    background-color: #efe7de;
    border: 1px solid #CCCCCC;	
}

.home_menu .home_menu_header {
    background-color: #a5c78c;
    color: #f0f0f0;
}

#subsiteTitle {
    padding-top: 0px;
    height: 5px;
}

#portal-colophon {
    border-top:	1px solid #CCCCCC;
    height:	50px;
}

.login-panel {
    background-repeat:	no-repeat;
    background-position: left top;
    background-color: #efe7de;
    min-height: 450px;	
    border:	1px solid #CCCCCC;
    float: left;
}

#login-form {
    float: left !important;
    margin-top: 20px !important;
}

#home_menu_title {
    background-color: #00a7ee;
}

#home_menu_title:hover {
    background-color: #00a7ee;
}

.home_menu_header div {
    background-color: #31aa47;
}

#page_title {
    background-position: left;
    background-repeat: no-repeat;
    background-color: #efe7de;
}

.cal_logo{
	background: #3667b3;
}

div.lab_lxt{
    display: inline;
    font-size: 23pt; 
    font-weight: normal;
    color: white ;
    background-color: #31aa47;
}

div.cal_footer{
	background-color: #3667b3;
	color: #f0f0f0;
	text-align: center;	
	margin-top: 10px;
	padding-top: 10pt;
	padding-bottom: 10pt;

}

a.cal_link_footer{
	color : #f0f0f0;
}