
@import
	url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600italic,400italic,300italic,300,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,900&display=swap);

html {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 0px;
	font-family: 'Titillium Web', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Barlow', sans-serif !important;
}

#rer-header .rerHeaderItem {
	background-image: url("../../images/puglia/logo.png");
	height: 110px;
	width: 210px;
}

.ui-widget {
	font-family: 'Titillium Web', sans-serif !important;
}
.ui-widget-content {
	border: 1px solid #515151;
}
.ui-widget-header .ui-icon{
    background-image: url(../../images/myportal/ui-icons_ffffff_256x240.png);
}

/*HEADER*/
#top-header-area {
	margin: 30px 6.4vw;
	text-align: center;
}

.logo {
	padding: 0 15px;
	width: auto;
	display: inline-block;
}

#left {
	float: left;
}

#right {
	float: right;
	width: 119px;
	text-align: right;
}

#center {
	margin: 0 auto;
}

#portal-top {
	background: #fff;
	border: none;
}

.lavoroPerTe {
	color: white;
	font-size: 32px;
	float: left;
	font-weight: 600;
	padding: 0px 40px;
}

.home_menu_header .home_menu_title_description {
	color: #fff;
}

#header-bar-background {
	background-color: #72706F;
	height: 30px;
	margin-bottom: 10px;
}

#header-bar-foreground {
	background-color: #EF3125;
	box-shadow: 0px -2px 0px #EF3125, 0px 2px 0px #EF3125, 0px -1px 10px #72706f, 0px 1px 4px #72706f;
	height: 100%;
	margin: 0px 6.4vw;
}

#contentCarousel {
	background-color: #31373c;
}

/*MENU*/
#menu {
	margin-top: 21px;
}

.home_menu .home_menu_header {
	background-color: #fff;
	height: 0;
	margin-bottom: 0 !important;
}

.home_menu_item ul {
	padding-top: 30px !important;
}

#home_menu_title {background-color: #31373c;}
#home_menu_title:hover {background-color: #6e2218;}

/*Footer*/
#footer-content {
	background-color: #EF3125;
	color: #fff;
	font-size: 1.2em;
	margin: 0px 6.4vw;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#footer {
   background-color: #6e2218;
   color: #fff;
}
#footer a {
    color: #fff;
    text-decoration: none;
}
#footer a:hover, #footer a:focus{
    color: #EF3125;
}
#footer .col-md-4{
	width: 33.33333333%;
}
#footer hr{
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.footer-links {
    display: inline;
    padding: 0;
}
.footer-links li {
    display: inline;
    margin-right: 10px;
}
.puglia-regione-footer {
    float: right;
    margin-right: 20px;
}

/*CONTENT*/
.ui-state-default {
	background: none;
	text-shadow: none;
}

#content {
	margin: 20px 6.4vw;
	padding: 0;
}

.ui-widget-header {
	border: none;
}

.errors-div .ui-widget-header {
	border: none;
	background: #6e2218;
    color: white;
}

/*Portlet*/
/*Header*/
.portlet dt.portletHeader, dl.homePortlet dt.portletHeader {
	width: calc(100% - 20px) !important;
}

.portletSimple dt.portletHeader .tile {
	background-color: #e3e3e3;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Arial, sans-serif;
	display: inline-block;
	padding: 5px 10px;
	color: #000;
}

.portlet-close {
	background-image: url(../../images/rer/ico_chiusura.png);
	height: 16px;
	position: absolute;
	right: 0px;
	top: 0;
	width: 16px;
}

.portlet dt.portletHeader span.tile {
	cursor: default;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#dddddd), to(#f7f7f7)) !important;
	background-image: -moz-linear-gradient(bottom, #dddddd, #f7f7f7 100%) !important;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}

/*Body*/
.rerPortletAdvancedStatic .portletItem {
	background-color: #fff;
	color: #454545;
	padding: 10px;
}

.portletItem {
	border: 1px solid #CCCCCC !important;
	width: calc(100% - 20px) !important;
}

/*Bottoni*/
input.ui-button.ui-state-default,
a.ui-button.ui-state-default,
.ui-button.ui-state-default,
a.ui-button,
a.buttonStyle.ui-button,
button.ui-button.ui-widget.ui-state-default,
button.buttonStyle.ui-button.ui-widget.ui-state-default 
{
	border: 1px solid white;
	margin: 0px;
	padding: 10px 30px !important;
	font-size: 18px;
	font-weight: 600;
	background-color: #EF3125;
	/*background-color: #ce1c18;*/
	border-radius: 5px;
	color: white !important;
	height: auto !important;
}
input.ui-button.ui-state-default {
    height: 40px !important;
    padding: 6px 30px 20px 30px !important;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icon-left .ui-button-text,
.ui-button-text-only .ui-button-text,
.ui-button .ui-button-text {
    padding: 0px !important;
    margin: 0px;
    color: white;
    line-height: 1;
}
a.ui-button.comboBoxStyle .ui-icon,
.ui-state-default .ui-icon {
    background-image: url(../../images/myportal/ui-icons_ffffff_256x240.png);
}

input.ui-button.ui-state-hover,
.ui-button:hover,
.ui-button.ui-state-hover,
a.ui-button.ui-state-hover,
a.buttonStyle.ui-button.ui-state-hover,
button.ui-button.ui-widget.ui-state-hover,
button.buttonStyle.ui-button.ui-widget.ui-state-hover 
{
	background: none !important;
	background-color: #EF3125 !important;
	border: 1px solid #000000 !important;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 10px #72706F;
	color: white !important;
}
#content a.buttonStyle:hover {
    background-color: #EF3125;
}
span.ui-button-text:hover,
button.ui-button.ui-widget.ui-state-default.ui-state-focus .ui-button-text {
    color: white !important;
}

.ui-button.ui-state-focus,
a.ui-button.ui-state-focus,
a.buttonStyle.ui-button.ui-state-focus,
button.ui-button.ui-widget.ui-state-focus,
button.buttonStyle.ui-button.ui-widget.ui-state-focus{
	background-image: none !important;
	background-color: #6e2218 !important;
	border: 1px solid #515151 !important;
	box-shadow: none !important;
}
a.ui-button.ui-state-focus .ui-button-text{
	color: white
}

label.ui-state-active,
.ui-button.ui-state-active {
	background: none;
	background-color: #6e2218 !important;
	border: 1px solid #515151 !important;
}

.ui-button.ui-state-active span {
    color: #313131 !important;
}

a.ui-button.secondButton.ui-state-default{
	background: none; 
	background-color: #515151;
    border: 1px solid #515151;
}

/*Button Icon Only*/
/*#content a.buttonStyle.ui-state-default,*/
button.ui-button.ui-widget.ui-state-default.ui-button-icon-only {
	padding: 6px !important;
	width: inherit;
}
button.ui-button.ui-button-icon-only .ui-button-text{
	padding: 0px !important;
	width: 18px;
}
table.dataTable td a.ui-button .ui-icon,
.ui-button.buttonStyle span.ui-icon{
	background-image: url(../../images/myportal/ui-icons_ffffff_256x240.png);
}

#content a.buttonStyle.ui-state-hover,
#content a.buttonStyle.ui-state-hover:hover {
	background-color: #EF3125 !important;
}

#content a.buttonStyle.ui-state-active,
#content a.buttonStyle.ui-state-active:hover{
	background-color: #6e2218 !important;
}

#content a.buttonStyle.ui-state-focus,
#content a.buttonStyle.ui-state-focus:hover{
	background-color: #6e2218 !important;
}

.dataTables_wrapper table td a.ui-state-default,
.cv-element .buttonStyle.ui-button,
.selectAction.buttonStyle.ui-button,
.comboBoxStyle.ui-button-icon.ui-button-icon-only,
#testata\:mansione\:inputblock .ui-button,
#esperienze_professionali\:mansione\:inputblock .ui-button,
a.modalAutocomplete.ui-button {
	padding: 6px !important;
	width: 18px;
	height: 18px;
	background-color: #EF3125;
	border: 1px solid white;
}

/*Accordion*/
.ui-accordion-header {
	background-color: #EF3125 !important;
	background-image: none;
	text-shadow: none;
	border: 1px solid #515151;
	color: white !important;
	font-weight: 600;
	box-shadow: none;
}
.ui-accordion-header.ui-state-hover {
	box-shadow: none;
	background-color: #6e2218 !important;
}
.ui-accordion-header.ui-state-active{
	background-color: #6e2218 !important;
}

.ui-accordion-header a {
	text-shadow: 0 0 0;
	color: white !important;
}
.ui-accordion-header .ui-icon {
	background-image: url(../../images/myportal/ui-icons_ffffff_256x240.png);
}

.ui-accordion-header .ui-state-hover {
	background-color: #6e2218 !important;
}

.ui-accordion-header .ui-state-active {
	background-color: #6e2218 !important;
}

/*Datepicker*/
.ui-datepicker-trigger .ui-button-text {
	background-color: #EF3125;
}
.ui-datepicker-header {
	background: #31373c !important;
}
.ui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover,
.ui-datepicker-header .ui-datepicker-next.ui-state-hover {
	/*background: none !important;
	background-color: white !important;*/
	border: none !important;
	background-color: #f7e6bc !important;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.ui-datepicker .ui-datepicker-header .ui-icon{
	background-image: url(../../images/myportal/ui-icons_ffffff_256x240.png);
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-hover .ui-icon,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-hover .ui-icon{
	background-image: url(../../images/myportal/ui-icons_222222_256x240.png);
}
.ui-datepicker-calendar td a.ui-state-default {
    background: none;
	background-color: #EF3125;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #6e2218;
    color: white;
    font-weight: normal;
}
img.ui-datepicker-trigger {
	border: 1px solid white;
    border-radius: 3px;
}

.ui-datepicker td:not(.ui-datepicker-other-month ){
	background: none !important
}
.ui-datepicker td:not(.ui-datepicker-other-month ) .ui-state-default {
	border-radius: 5px;
	background-color: #EF3125;
	border: 1px solid #6e2218;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
	color: white;
	text-shadow: none;
}

.ui-datepicker td:not(.ui-datepicker-other-month ) .ui-state-hover {
	background-color: #f7e6bc !important;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
	color: #515151;
}

img.ui-datepicker-trigger:hover {
	border: 1px solid #515151;
    border-radius: 6px;
    box-shadow: 0 0 10px #72706F;
    cursor: pointer;
}

.ui-datepicker-trigger.ui-state-focus {
	box-shadow: none !important;
}
.ui-datepicker-trigger.ui-state-focus .ui-button-text {
	background-color: #6e2218;
}

.ui-datepicker td.ui-datepicker-current-day .ui-state-default {
	background: #fff !important;
	color: #4f4f4f !important;
	font-weight: normal;
}

/*Tabs*/
.ui-tabs .ui-widget-header {
	background-color: white;
	border-bottom: 1px solid #515151 !important;
    border-radius: 0px;
}
.ui-tabs .ui-tabs-nav li{
	border: 1px solid #515151;
}
.ui-tabs .ui-tabs-nav li a {
	background-color: #EF3125 !important;
	border-radius: 3px;
	border-bottom: 1px solid #515151 !important;
	color: white;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover {
	box-shadow: 0 0 10px #72706F;
	background: none !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {	
	background: none;
	box-shadow: none;
	margin-bottom: 1px;
	padding-bottom: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    background-color: #6e2218 !important;
    color: white;
}

/** Dialog **/
.ui-dialog {	
	width: auto !important;
}
.ui-dialog-titlebar {
	color: #fff;
	background: none !important;
	background-color: #EF3125 !important;
	border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
	text-shadow: none;
    font-weight: 600;
}
.ui-dialog-titlebar .ui-icon {
	background-image: url(../../images/myportal/ui-icons_222222_256x240.png);
}
.ui-dialog-titlebar-close {
    background: none !important;
}

.ui-state-hover.ui-dialog-titlebar-close{	
	border: 1px solid #515151 !important;
    background-color: #f7e6bc !important;
}
.ui-state-hover.ui-dialog-titlebar-close .ui-icon{
    background-image: url(../../images/myportal/ui-icons_222222_256x240.png) !important;
}

/*File upload*/
.ui-fileupload-buttonbar {
    padding: 0;
    background: none;
}
.ui-fileupload-content{
	border: none;
}

/*Datatable*/
.ui-datatable-header {
    background: none;
}
.ui-datatable-header .ui-outputpanel {
	text-align: right;
}

/*Altri componenti UI*/
.ui-datatable-scrollable-header {
	font-size: 1.1em;
}
.ui-datatable-scrollable-header-box{
	margin: 0 !important;	
}

.input-ricerca-dove input {
    background-image: url(../../images/search-bg-dove.png);
    padding-left: 25px;
    background-repeat: repeat-x;
}

.ui-selectonemenu-trigger.ui-state-error {
	background: #ffffff;
}
.ui-selectonemenu.ui-state-error .ui-icon-triangle-1-s{
	background-image: url(../../images/myportal/ui-icons_cd0a0a_256x240.png);
}

/*Servizi amministrativi*/
#totally_useless_form table tr td div {
	border: 1px solid #515151;
}
#totally_useless_form table tr td div ul li{
	margin-left: 20px;
}

/*Servizi amministrativi buttons*/
input.button-servizi-ammin {
	font-size: 15px !important;
	display: flex;
    justify-content: center;
}

/*css*/
.inline-flex {
	display: inline-flex;
}
.border-box {
	box-sizing: border-box;
}
.width-auto {
	width: auto !important;
}


/*Da qui in poi termina il mondo conosciuto dagli umani*/





/*Varie*/
.ui-fileupload-buttonbar .ui-fileupload-choose input {
	transform: none;
}

.ui-datepicker-trigger.ui-button-icon-only .ui-button-text {
	height: 1em;
}

/*
.ui-widget-content .ui-state-default, a.ui-state-default.comboBoxStyle {
	background-color: #ffff;
}
*/
/*Crea CV*/
.creaCvPanelGrid {
	width: 100%;
}

.creaCvPanelGrid textarea.ui-inputtextarea {
	width: calc(100% - 8px);
}

/*Fileupload*/
#testata\:uploadAllegatoPanel #testata\:fileUpload .ui-widget-header {
	/* border: 1px solid #c4c4c4; */
	border: none;
	padding: 0;
	background-color: inherit;
}

#testata\:uploadAllegatoPanel #testata\:fileUpload .ui-widget-content {
	border: none;
}

#testata\:uploadAllegatoPanel .ui-progressbar-value.ui-widget-header.ui-corner-left {
	background-color: #EF3125 !important;
}

#testata\:uploadAllegatoPanel .ui-button-text.ui-c {
	color: #fff;
}

#testata\:uploadAllegatoPanel #testata\:filename {
	margin-right: 15px;
}

/*-^^^-***-^^^-*/
#portal-colophon {
	border-top: 1px solid #CCCCCC;
	background-color: #EEEEEE !important;
	color: #333333 !important;
	height: 50px;
}

#trento-background {
	width: 420px;
	height: 450px;
	float: left;
}

.login-panel {
	min-height: 450px;
	border: 1px solid #CCCCCC;
	float: left;
}

#login-form {
	float: left !important;
	margin-top: 20px !important;
}

.ui-menu .ui-menu-item a.ui-state-hover {
	background-color: #CCCCCC !important;
}

#rer-logo a {
	margin-right: 40px;
	text-decoration: none !important;
}

.portletHeader {
	padding-right: 0px !important;
}

#content .portlet dd {
	box-shadow: 1px 1px 3px #CCCCCC;
}

.portlet-close {
	top: 6px;
}

.ui-autocomplete.ui-state-hover {
	background-color: #CCCCCC !important;
}

#page_title {
	background-position: left;
	background-repeat: no-repeat;
	background-color: #efe7de;
}

a.ui-state-default.comboBoxStyle {
	background-color: #EF3125 !important;
}

.backButtonStyle {
	color: #525152 !important;
}

#masterForm .ui-widget-header {
	padding: 10px;
}

#masterForm #dialog_image_opener {
	padding: 2px;
	height: auto;
}

.infoButton {
	padding: 4px !important;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #EF3125;
	border: 1px solid #357135;
	border-radius: 3px 3px 3px 3px;
	color: #525152;
	font-size: 1.2em;
}

.infoButton:hover {
	padding: 4px !important;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #f7e7bd;
	border: 1px solid #525152;
	border-radius: 3px 3px 3px 3px;
	color: #525152 !important;
	font-size: 1.2em;
	text-decoration: none !important;
}

a.buttonStyle span.ui-button-text {
	color: #ffffff;
}

#form_search:dove_input {
	background-color: #FFFFFF !important;
}

.ui-accordion-header a {
	background-color: #EF3125 !important;
	background-image: none !important;
}

#form_lista_filtri:filtrationAccordion:contratto_data .ui-widget-content, #form_lista_filtri:filtrationAccordion:contratto_data .ui-datatable-odd,
	#form_lista_filtri:filtrationAccordion:contratto_data .ui-state-hover {
	background-color: #990000 !important;
}

.home-dialog-info-content {
	padding-left: 2em !important;
}

.yg_td {
	margin: 0px;
	padding: 0px;
	background-color: #fff !important;
	border-radius: 0px !important;
}

.yg_td_padding_top {
	padding-top: 10px;
}
.yg_td_border_bottom {
	margin: 0px;
	padding: 0px;
	border-bottom: 2px solid #EF3125;
	padding-bottom: 10px;
}

#portal-header {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

/** REGOLE GENERALI **/
.ui-button.redButton span.ui-icon {
	background-image: url("../../../resources/css/myportal/images/ui-icons_ffffff_256x240.png") !important;
}

.container-div {
	background-color: white;
	border: 1px solid #EF3125;
	border-radius: 5px;
	padding: 1.5em;
}

/* SELECTONEBUTTON */
.ui-selectonebutton .ui-button.ui-state-active {
	background-color: white !important;
	border: 1px solid #EF3125 !important;
}

.ui-selectonebutton .ui-button {
	background-color: #EF3125 !important;
	color: #fff !important;
}

span.ui-datepicker-month, .ui-datepicker .ui-datepicker-title, #content h2, #content h3 {
	color: #fff;
}

#portal-siteactions li {
	width: 18%;
}

.ui-dialog-buttonset button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
	min-width: 80px;
	height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}