<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<description>
		SILPUB - parte pubblica del SIL (senza autenticazione)
	</description>
	<display-name>silpub</display-name>

	<servlet>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>
			com.engiweb.framework.configuration.ConfigServlet
		</servlet-class>
		<init-param>
			<param-name>AF_CONFIG_FILE</param-name>
			<param-value>/WEB-INF/conf/master.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AdapterHTTP</servlet-name>
		<servlet-class>
			com.engiweb.framework.dispatching.httpchannel.AdapterHTTP
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdapterHTTP</servlet-name>
		<url-pattern>/servlet/fv/AdapterHTTP</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
	<taglib>
		<taglib-uri>aftags</taglib-uri>
		<taglib-location>/WEB-INF/tld/af.tld</taglib-location>
	</taglib>
	<jsp-property-group>
    	<url-pattern>*.jsp</url-pattern>
    	<page-encoding>UTF-8</page-encoding>
  	</jsp-property-group>

 	 <jsp-property-group>
    	<url-pattern>*.inc</url-pattern>
    	<page-encoding>UTF-8</page-encoding>
  	</jsp-property-group>
	</jsp-config>

	<resource-ref id="SILPUB_123456789">
		<description>DB del SIL</description>
		<res-ref-name>jdbc/SILds</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>


</web-app>
