.badge-item {
	display: block;
	margin: 0
}

.badge-item .badge-item-name {
	margin-bottom: 0
}

.badge-item .badge-item-source {
	font-style: italic;
	opacity: .6;
	margin-top: 10px
}

.badge-item .badge-item-body {
	font-size: 1.1rem;
}

@media ( max-width : 543px) {
	.badge-item .badge-item-photo {
		display: none
	}
	.badge-item .badge-item-body, .badge-item .badge-item-name, .badge-item .badge-item-source {
		margin-left: 0
	}
}

.badge-item {
	display: block;
	padding: 50px;
	margin: 50px 0 0;
	border-left: none;
	background-color: #f3f3f3;
	font-style: normal;
}

.badge-item .badge-item-photo {
	position: absolute;
	left: 50%;
	top: -30px;
	margin-left: -33px;
	width: 70px;
	height: 70px;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
}

.badge-item .badge-item-source {
	font-style: italic;
	margin-top: 10px;
	opacity: .6
}

.badge-item .badge-item-body {
	position: relative;
	margin-top: 20px;
	font-size: 1.1rem;
	z-index: 1
}

.blockquote .blockquote-icon, .badge-item .badge-item-body:before {
	font-size: 150px;
	line-height: 135px;
	font-weight: 700
}

.flickity-page-dots .dot:after, .blockquote:before, .flickity-arrow:after, .image-box-3 .image-box-overlay:after,
	.team-member:after {
	content: ''
}

.blockquote {
	position: relative;
	z-index: 1;
	padding: 45px 0 30px 20px;
}

.blockquote:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border-left: 2px solid;
	opacity: .2
}

.blockquote .blockquote-icon {
	position: absolute;
	color: #aaa;
	opacity: .1;
	z-index: -1;
	top: 15px;
	left: 20px
}

.blockquote .blockquote-author {
	font-weight: 700;
	margin-top: 15px;
	padding-left: 20px
}

.blockquote>a {
	color: inherit;
	text-decoration: none
}

.blockquote em {
	display: block;
	margin-left: 20px
}

.blockquote-styled {
	position: relative;
	overflow: hidden;
	margin: 20px 0
}

.blockquote-styled .blockquote-cont {
	position: relative;
	display: block;
	padding: 60px;
	color: #fff;
	z-index: 1
}

.blockquote-styled .blockquote-cont .blockquote-icon {
	top: 50px;
	left: 40px;
	line-height: 100px;
	color: #fff
}

.blockquote-styled .blockquote-cont em {
	font-size: 1.7rem;
	margin-left: 0
}

.blockquote-styled .blockquote-author {
	padding-left: 0
}

.flickity-slider>div {
	width: 40%;
	max-width: 600px;
	margin: 0 20px;
	opacity: .4;
	transition: .3s opacity;
}

.flickity-slider>div.is-selected {
	opacity: 1;
}

.flickity-page-dots {
	bottom: -35px;
}

.flickity-page-dots .dot {
	background: 0 0;
	width: auto;
	height: auto;
	margin: 0 1px;
	padding: 8px 4px;
	opacity: .4;
	transition: .2s opacity;
}

.flickity-page-dots .dot:after {
	display: block;
	background-color: #cacaca;
	width: 60px;
	height: 2px;
}

@media ( max-width : 1199px) {
	.flickity-slider>div {
		width: 50%;
		opacity: .6;
	}
}

@media ( max-width : 767px) {
	.flickity-slider>div {
		width: 70%;
		margin: 0 20px;
		opacity: 1;
	}
}

@media ( max-width : 543px) {
	.flickity-slider>div {
		width: 90%;
		margin: 0 20px;
	}
}

.badge-item {
	position: relative;
	width: 100%;
	text-align: center;
}

.row-lines-v {
	margin-top: 10px;
}

.row-lines-v [class^="col-"] {
	border-left: 1px solid #e5e5e5;
	padding-top: 24px;
	padding-bottom: 24px;
}

/*-----------------------------------*/
/* Text Boxes with Images */
/*-----------------------------------*/
.badgebox .badgebox-thumbnail {
	display: block;
	text-align: center;
}

.badgebox .badgebox-title {
	margin: 0 0 10px 0;
	font-weight: bold;
}

.badgebox-style2 {
	padding: 0 10px;
}

.badgebox-style2 .badgebox-thumbnail {
	float: left;
	margin-right: 15px;
	position: relative;
}

.badgebox-style2 .badgebox-title {
	font-size: 14px;
}

.badgebox-style2 .badgebox-text {
	margin: 0 0 10px 0;
}

@media ( min-width : 768px) {
	.badgebox-style2 .badgebox-thumbnail {
		float: none;
	}
}

@media ( min-width : 992px) {
	.badgebox-style2 .badgebox-thumbnail {
		float: left;
		margin-right: 30px;
	}
}

@media ( min-width : 1300px) {
	.row-lines-v [class^="col-"] {
		height: 180px;
	}
}

@media ( min-width : 1500px) {
	.row-lines-v [class^="col-"] {
		height: 150px;
	}
}

.badge-item.unchecked .badge-item-photo, .badgebox.unchecked img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("#{resource['commons:images/gamification/desaturate.svg']}#greyscale");
}

.badge-item.checked:before, .badgebox.checked:before {
	content: "\f00c";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #3E884D;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 18px;
}

.chart {
	display: inline-block;
	width: 110px;
	margin: 40px auto 20px;
	padding: 0 10px;
}

.easyPieChart {
	position: relative;
	text-align: center;
}

.easyPieChart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.percentage, .label {
	margin-bottom: 0.5em;
	text-align: center;
	color: #444;
	font-size: 14px;
}

.percentage {
	font-size: 17px;
}

.counter-box {
	position: relative;
	display: block;
	overflow: hidden;
	z-index: 1;
	height: 100%;
	border-right: 1px solid #e5e5e5;
}

.counter {
	position: relative
}

.counter .count {
	font-weight: 700;
	font-size: 3rem;
}

.counter .counter-title {
	font-weight: 400;
	line-height: 1;
	color: #adadad;
}

.badgebox .badgebox-foot a, .badge-item-body .btn {
	background: #e0e0e0;
	color: #515151;
	border: 1px solid #c5c4c4;
}

.progress {
	height: 3px;
	margin-bottom: 10px;
}

.progress-bar {
	background-color: #3E884D;
}

.badge-item-photo.fa:before, .badgebox-thumbnail.fa:before {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 25px;
	margin-left: 10px;
	margin-bottom: 5px;
	color: #b54c26;
}

.badge-item.unchecked .badge-item-photo.fa:before, .badgebox.unchecked .badgebox-thumbnail.fa:before {
	color: #515151;
	z-index: 1;
}

.steps h2 {
	line-height: 24px;
	text-align: center;
}

.steps h2 span.title {
	font-size: 14px;
	font-weight: bold;
	color: #444;
}

.steps ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.steps label {
	background: #ffffff;
	height: 69px;
	width: 100%;
	display: block;
	border-bottom: 1px solid #e5e5e5;
	color: #fff;
	text-transform: capitalize;
	font-weight: 900;
	font-size: 11px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.7s ease;
	position: relative;
	padding: 5px 5px 5px 70px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0px;
}

.steps label h2 span.subtitle {
	display: block;
	font-size: 12px;
	text-transform: capitalize;
	font-weight: normal;
	color: #8e8e8e;
}

.steps li label:before {
	content: "";
	width: 19px;
	height: 19px;
	display: block;
	position: absolute;
	border-radius: 100%;
	left: 20px;
	top: 30%;
	transition: border 0.7s ease;
	z-index: 9999;
}

.steps li.checked label:before {
	border: 1px solid #3E884D;
	content: "\f00c";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #3E884D;
	font-size: 18px;
}

.steps li.unchecked label:before {
	border: 1px solid #999799;
}

.steps label:after {
	content: "";
	width: 60px;
	height: 68px;
	background: #f1f1f1;
	position: absolute;
	left: 0;
	top: 0;
}

.steps li:first-child label {
	height: 120px;
	text-transform: uppercase;
	font-size: 15px;
	padding-top: 10%;
}

.steps li:first-child label:before {
	top: 40%;
}

.steps li:first-child label:after {
	height: 118px;
}

.steps li:first-child label {
	border-top: 1px solid #e5e5e5;
}

.steps li.checked label {
	border-right: 8px solid #3E884D;
}

.steps li.unchecked label {
	border-right: 8px solid #999799;
}

.steps li .badge-thumb {
	position: absolute;
	left: 0;
	margin-left: 80px;
	z-index: 1;
	margin-top: 15px;
}

.steps li.unchecked .badge-thumb {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("#{resource['commons:images/gamification/desaturate.svg']}#greyscale");
}

.steps li .badge-thumb.fa:before {
	position: absolute;
	left: 0;
	font-size: 15px;
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 15px;
	color: #b54c26;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border-color: #FFCC3D;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 100;
	color: #CB1D15;
	border-bottom-color: transparent;
}

.nav-tabs {
	border-bottom: 1px solid #FFCC3D;
}

.nav-tabs>li>a {
	color: #515151;
	letter-spacing: 2px;
	font-weight: 100;
}

.filter, .filter:hover {
	color: #515151;
	text-decoration: none;
}

#badgeCountersGroup [class^="col-"] {
	padding: 0;
}

#badgeView .modal-content {
	border: none;
}

#badgeView .close {
	opacity: 1;
	font-size: 25px;
	color: #d6d6d6;
}

figure {
	margin: 0;
}

.badge-level {
	text-align: center;
	padding: 1em 1.2em;
	position: absolute;
	right: 0;
	margin-top: 110px;
	margin-right: 35px;
}

.hexagon-outer {
	width: 70px;
	height: 48px;
	background: #4E4D55;
	position: relative;
	margin: 0 auto;
	z-index: 1;
	-webkit-perspective: 800;
	perspective: 800;
}

figure[class^=hexagon]:before, figure[class^=hexagon]:after {
	content: '';
	width: 0;
	position: absolute;
	left: 0;
}

.hexagon-outer:before, .hexagon-outer:after {
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
}

.hexagon-outer:before {
	border-bottom: 17px solid #4E4D55;
	top: -17px;
}

.hexagon-outer:after {
	border-top: 17px solid #4E4D55;
	bottom: -17px;
}

.hexagon-mask {
	background: #e8e8e3;
	width: 64px;
	height: 18px;
	position: absolute;
	top: 2px;
	left: 3px;
	z-index: 2;
}

.hexagon-mask:before {
	border-top: 15px solid transparent;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-bottom: 15px solid #e8e8e3;
	top: -30px;
}

.hexagon-inner {
	width: 64px;
	height: 38px;
	position: relative;
	left: 3px;
	top: 8px;
	z-index: 3;
}

.hexagon-inner:before, .hexagon-inner:after {
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
}

.hexagon-inner:before {
	border-bottom: 15px solid;
	top: -15px;
}

.hexagon-inner:after {
	border-top: 15px solid;
	bottom: -15px;
}

.hexagon-inner i {
	color: #4E4D55;
	display: block;
	font-size: 1.4em;
	position: relative;
	top: -8px;
	text-align: center;
}

.ribbon {
	background: #4E4D55;
	color: #FFFFFF;
	display: block;
	font-size: .8em;
	height: 18px;
	line-height: 18px;
	text-align: center;
	position: relative;
	z-index: 5;
	top: -2px;
}

.ribbon span {
	font-size: .35em;
	line-height: .75;
}

.ribbon:before, .ribbon:after {
	content: '';
	border: solid #4E4D55;
	border-width: 9px;
	position: absolute;
	width: 0;
}

.ribbon:before {
	border-color: #4E4D55 #4E4D55 #4E4D55 transparent;
	left: -14px;
}

.ribbon:after {
	border-color: #4E4D55 transparent #4E4D55 #4E4D55;
	right: -14px;
}

.overlay {
	background: rgba(0, 0, 0, .08);
	display: block;
	height: 60px;
	width: 385px;
	position: absolute;
	top: -8px;
	left: 0;
	z-index: 4;
	-webkit-transform: translateX(-178px) rotateY(-84deg);
}

.punti {
	font-size: 12px;
	position: relative;
	top: 5px;
	z-index: 3;
}

@media ( min-width : 992px) {
	.badge-level {
		margin-right: -20px;
	}
}

@media ( min-width : 1500px) {
	.badge-level {
		margin-right: 20px;
	}
}

@media ( min-width : 1700px) {
	.badge-level {
		margin-right: 35px;
	}
}

/* COLORS */
.grayscale {
	-webkit-filter: grayscale(100%);
}

.hexagon-inner.gold {
	background: #e5ba31;
}

.badge-level .hexagon-inner.gold:before, .badge-level .hexagon-inner.gold:after {
	border-color: #e5ba31 transparent;
}

.hexagon-inner.black {
	background: #000;
}

.badge-level .hexagon-inner.black:before, .badge-level .hexagon-inner.black:after {
	border-color: #000 transparent;
}

.badge-level.black .punti {
	color: #fff;
}

.hexagon-inner.welcome {
	background: #ffffff;
}

.badge-level .hexagon-inner.welcome:before, .badge-level .hexagon-inner.welcome:after {
	border-color: #ffffff transparent;
}

.hexagon-inner.classic {
	background: #f5ebda;
}

.badge-level .hexagon-inner.classic:before, .badge-level .hexagon-inner.classic:after {
	border-color: #f5ebda transparent;
}

.hexagon-inner.silver {
	background: #C0C0C0;
}

.badge-level .hexagon-inner.silver:before, .badge-level .hexagon-inner.silver:after {
	border-color: #C0C0C0 transparent;
}

.badge-level.silver .punti {
	color: #fff;
}

.hexagon-inner.gold {
	background: #FFD700;
}

.badge-level .hexagon-inner.gold:before, .badge-level .hexagon-inner.gold:after {
	border-color: #FFD700 transparent;
}

.badge-level.gold .punti {
	color: #4e4d55;
}