<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta name="robots" content="noindex,nofollow"></meta>
</head>
<body class="emb-font-stack-default"
	style="margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; min-width: 100%"
	bgcolor="#fbfbfb" cz-shortcut-listen="true">
	<div id="emailBody"></div>
	<div id="template">
		<center class="wrapper"
			style="background-color: #fbfbfb; width: 100%; min-width: 620px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%">
			<table class="wrapper"
				style="border-collapse: collapse; border-spacing: 0; background-color: #fbfbfb; width: 100%; min-width: 620px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; table-layout: fixed">
				<tbody>
					<tr>
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">
							<center>
								<table class="header"
									style="border-collapse: collapse; border-spacing: 0; Margin-left: auto; Margin-right: auto">
									<tbody>
										<tr class="border"
											style="font-size: 1px; line-height: 1px; background-color: #e9e9e9; height: 1px">
											<td
												style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px; width: 602px">&nbsp;</td>
										</tr>
										<tr>
											<td class="logo"
												style="padding-top: 32px; padding-bottom: 32px; padding-left: 0; padding-right: 0; vertical-align: top; font-family: sans-serif; color: #41637e; font-size: 26px; font-weight: 700; letter-spacing: -0.02em; line-height: 32px; text-align: center"
												align="center">
												<center>
													<div id="emb-email-header">
														<img
															style="border-left-width: 0; border-top-width: 0; border-bottom-width: 0; border-right-width: 0; -ms-interpolation-mode: bicubic; display: block; margin-top: 0; margin-bottom: 0; margin-left: auto; margin-right: auto; max-width: 397px"
															src="https://lavoroperte.regione.emilia-romagna.it/MyCas/images/agency3.png"
															alt="logo"></img>
													</div>
												</center>
											</td>
										</tr>
									</tbody>
								</table>
							</center>
						</td>
					</tr>
				</tbody>
			</table>

			<table class="wrapper feature"
				style="border-collapse: collapse; border-spacing: 0; background-color: #f7f7f7; width: 100%; min-width: 620px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; table-layout: fixed"
				width="100%">
				<tbody>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #e9e9e9; height: 1px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #f2f2f2; height: 1px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #f3f3f3; height: 1px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #f4f4f4; height: 1px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #f5f5f5; height: 1px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #f6f6f6; height: 2px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr>
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top"
							align="center">
							<table class="one-col"
								style="border-collapse: collapse; border-spacing: 0; Margin-left: auto; Margin-right: auto; width: 600px; background-color: #f7f7f7; font-size: 14px">
								<tbody>
									<tr>
										<td class="column"
											style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; text-align: center">

											<table class="contents"
												style="border-collapse: collapse; border-spacing: 0; width: 100%">
												<tbody>
													<tr>
														<td class="padded"
															style="padding-top: 0; padding-bottom: 0; padding-left: 32px; padding-right: 32px; vertical-align: top">
															<p
																style="-moz-osx-font-smoothing: grayscale; font-family: Georgia, serif; color: #565656; Margin-bottom: 32px; margin-top: 32px; -webkit-font-smoothing: antialiased; font-size: 50px; line-height: 32px; text-align: center">
																Attenzione !</p>

															<p
																style="Margin-top: 0; -moz-osx-font-smoothing: grayscale; font-family: Georgia, serif; color: #565656; Margin-bottom: 32px; -webkit-font-smoothing: antialiased; font-size: 21px; line-height: 32px; text-align: center">Le
																tue offerte di lavoro sono quasi complete!</p>
															
															<p
																style="Margin-top: 0; -moz-osx-font-smoothing: grayscale; font-family: Georgia, serif; color: #565656; Margin-bottom: 32px; -webkit-font-smoothing: antialiased; font-size: 21px; line-height: 32px; text-align: center">Ricordati
																di cliccare sul tasto Pubblica per rendere visibile
																l'annuncio.</p>
															<p
																style="Margin-top: 0; -moz-osx-font-smoothing: grayscale; font-family: Georgia, serif; color: #565656; Margin-bottom: 32px; -webkit-font-smoothing: antialiased; font-size: 21px; line-height: 32px; text-align: center">
																Le tue offerte di lavoro <br /> <strong
																	style="font-weight: bold">sono in lavorazione
																	da {{numGGInLav}} giorni</strong>
															</p>

														</td>
													</tr>
												</tbody>
											</table>

											<table class="contents"
												style="border-collapse: collapse; border-spacing: 0; width: 100%; margin-bottom: 32px">
												<tbody>{{listaVacancy}}
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="column-bottom"
								style="font-size: 4px; line-height: 4px">&nbsp;</div>
						</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #f6f6f6; height: 2px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #f5f5f5; height: 1px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #f4f4f4; height: 1px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #f3f3f3; height: 1px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #f2f2f2; height: 1px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border"
						style="font-size: 1px; line-height: 1px; background-color: #e9e9e9; height: 1px">
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<table class="wrapper"
				style="border-collapse: collapse; border-spacing: 0; background-color: #fbfbfb; width: 100%; min-width: 620px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; table-layout: fixed">
				<tbody>
					<tr>
						<td
							style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">
							<center>
								<table class="footer"
									style="border-collapse: collapse; border-spacing: 0; Margin-left: auto; Margin-right: auto; width: 602px">
									<tbody>
										<tr class="border"
											style="font-size: 1px; line-height: 1px; background-color: #e9e9e9; height: 1px">
											<td
												style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
										</tr>
										<tr>
											<td
												style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">
												<table style="border-collapse: collapse; border-spacing: 0">
													<tbody>
														<tr>
															<td class="address"
																style="padding-top: 32px; padding-bottom: 64px; padding-left: 0; padding-right: 0; vertical-align: top; width: 250px">
																<table class="contents"
																	style="border-collapse: collapse; border-spacing: 0; width: 100%">
																	<tbody>
																		<tr>
																			<td class="padded"
																				style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 10px; vertical-align: top; color: #999999; font-family: Georgia, serif; font-size: 12px; line-height: 20px; text-align: left">
																				<div>
																					Regione Emilia-Romagna (CF 800.625.903.79) - Viale
																					Aldo Moro 52, 40127 Bologna - Centralino:
																					051.5271&nbsp; <br /> Ufficio Relazioni con il
																					Pubblico: Numero Verde URP: 800
																					66.22.00,&nbsp;urp@regione.emilia-romagna.it,&nbsp;urp@postacert.regione.emilia-romagna.it
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</center>
						</td>
					</tr>
				</tbody>
			</table>
		</center>
	</div>
</body>
</html>