<STATEMENT NAME="ST_GetConfig"
		QUERY="select nvl( (select to_char(ts_config_loc.num) num from ts_config_loc 
			   where strcodrif=(select ts_generale.codprovinciasil from ts_generale where prggenerale = 1) and codtipoconfig=?) , 0) as num, 
			   		 (select ts_generale.codprovinciasil from ts_generale) as codprovinciasil
 			   from dual"/>
 			   
<STATEMENT NAME="ST_Get_Valore_Config_Generica"
	QUERY="select strvalore 
			from ts_config_loc 
		    where codtipoconfig = ? and trunc(sysdate) between trunc(datinizioval) and trunc(datfineval) "/>
		    
<STATEMENT NAME="ST_GetConfig_Generica"
	QUERY="select strvalore, to_char(num) num
			from ts_config_loc 
		    where codtipoconfig = ? and strcodrif = (select ts_generale.codprovinciasil from ts_generale where prggenerale = 1) "/>
		    
<STATEMENT name="GET_NUM_VALORE_CONFIG_LOC_PARAM"
	query="select nvl( (select to_char(ts_config_loc.num) num from ts_config_loc
             where strcodrif=(select ts_generale.codprovinciasil from ts_generale where prggenerale = 1) and codtipoconfig=?) , 0) as num,
         (select ts_generale.codprovinciasil from ts_generale) as codprovinciasil,
         nvl( (select ts_config_loc.strvalore from ts_config_loc
             where strcodrif=(select ts_generale.codprovinciasil from ts_generale where prggenerale = 1) and codtipoconfig=?) , '-') as strvalore
       from dual" />