.header {
	border-color: #03406F;
}

.logoHeader a {
	color: #03406F  !important;
	font-size: 150%;
	padding: 30px 0 56px 0;
}

.headerImg {	
	background-color: #03406F;
}

.rerLogo {
	margin-right: 30px;
}

#contentCarousel {
	background-color: #03406F;
}

#subsiteTitle h2 {
	font-size: 250%;
	color: #F8F8FF;
}

.ui-button.btn-primary:FOCUS {
	background-color: #1c537d;
}

a.btn {
	background: #1c537d;
}

.swMain>ul li>a.selected .stepNumber {
    border-color: #1c537d;
    color: #1c537d;
}

.swMain>ul li>a.selected:before, .swMain li>a.done:before {
    border-color: #1c537d;
}

.ui-button.btn-primary {
    color: #ffffff;
    background-color: #1c537d;
    border-color: #1c537d;
}

.ui-button.btn-primary.disabled, .ui-button.btn-primary[disabled], fieldset[disabled] .btn-primary, .ui-button.btn-primary.disabled:hover,
	.ui-button.btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .ui-button.btn-primary.disabled:focus,
	.ui-button.btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .ui-button.btn-primary.disabled:active,
	.ui-button.btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .ui-button.btn-primary.disabled.active,
	.ui-button.btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #1c537d;
	border-color: #1c537d;
}

.panel-flat {
	background: #1c537d;
	color: #F8F8FF;
}

.panel-flat .panel-body {
	color: #515151;
}

.menu-header {
	background-color: #03406f;
	color: #F8F8FF;
}
