@import
	url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600italic,400italic,300italic,300,700,700italic);
html{
	margin: 0;
}

/*Header*/
.header {
	background-color: #971211;
	padding: 20px 50px;
}

#main-logo {
	align-items: center;
	display: flex;
}

#main-logo h1 {
	display: inline-block;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	margin: 20px 0 10px 20px;
}

#sub-header {
	background: #31373c;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.42857143;
	padding: 5px 50px;
}


/*Menu*/
.sub-header-element {
	display: inline-block;
}

#contentCarousel {
	background-color: #72706f;
	float: right;
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
}




#subsiteTitle {
  height: 100%;
}

#subsiteTitle .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#subsiteTitle img{
	margin-right: 0px;
	vertical-align: middle;
}



/* Menu */
.home_menu_header {
  height: 0px;
  margin-bottom: 0px !important;
}

.home_menu {
	margin-top: 19px;
    margin-left: 0px;
}

.home_menu .home_menu_header {
	background-color: #971211;
}

#home_menu_title, #home_menu_title:hover{
	background-color: #31373c;
	border-right: 4px solid #FFF;
	height: 26px;
	padding: 1px 6px 0 6px;
}

#home_menu_title span{
	color: #fff;
	font-size: 18px;
}

.home_menu_item {
	font-size: 14px;
	font-weight: normal;
}

.home_menu_item ul {
    padding-top: 30px !important;
}

/*Footer*/
#pre-footer {
	margin-bottom: 30px;
	text-align: center;
}
#pre-footer div {
	font-size: 90%;
}

footer {
    background: #30373d;
    color: #fff;
	font-family: 'Titillium Web', sans-serif;
	padding: 10px 65px 100px 65px;
}

footer h1 {
	color: #fff;
	display: inline-block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 26px;
	font-weight: 500;
	margin-left: 30px;
}

.main-info{
	margin-top: 50px;
	font-size: 16px;
	display: flex;
    justify-content: space-between;
}

.info-footer {
	display: inline-block;
	vertical-align: text-top;
}

 a.info-link {
 	color: #5bbbbf;
 }

@media ( min-width : 768px) {
	h1 {
		font-size: 30px;
	}
}
