/** REGOLE GENERALI **/
.ui-button.redButton span.ui-icon {
    background-image: url("../../../resources/css/myportal/images/ui-icons_cd0a0a_256x240.png") !important;
}

.ui-state-active {
	color: #515151 !important;
}

.ui-state-default .ui-icon {
    background-image: url("../../images/myportal/ui-icons_ffffff_256x240.png");
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("../../images/myportal/ui-icons_cd0a0a_256x240.png");
}

.ui-state-active .ui-icon {
    background-image: url(/MyPortal/faces/javax.faces.resource/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo);
}

/*icone*/
.ui-icon.ui-icon-contact,
.ui-icon.ui-icon-copy,
.ui-icon.ui-icon-pencil,
.ui-icon.ui-icon-document,
.ui-icon.ui-icon-plusthick,
.ui-icon.ui-icon-print, 
.ui-icon.ui-icon-trash,
.ui-icon.ui-icon-calendar,
.ui-icon.ui-icon-close,
.ui-icon.ui-icon-search,
.ui-icon.ui-icon-disk,
.ui-icon.ui-icon-arrowreturnthick-1-n,
.ui-icon.ui-icon-cancel {
	background-image: url("../../images/myportal/ui-icons_ffffff_256x240.png");
}

/** SELECTONEMENU **/
.ui-selectonemenu-trigger .ui-icon {
	background-image: url(../../images/myportal/ui-icons_ffffff_256x240.png);
}

/** DIALOG **/
.ui-dialog-titlebar {
	background-color: #971211;
	color: #F0F0F0;
	background-image: linear-gradient(rgba(243, 219, 156, 0.8), rgba(237, 200, 103, 0)) !important;
}

/** ACCORDION **/
.ui-accordion-header a {
	background-image: linear-gradient(rgba(243, 219, 156, 0.8), rgba(237, 200, 103, 0)) !important;
	background-color: #971211;
	text-shadow: 0 0 0;
	color: #F0F0F0;				
}
.ui-accordion .ui-state-hover {
	background-color: #f7e7bd;
	box-shadow:	0 0 8px #f7e7bd, 0 1px 0 #edc867 inset;
}

/** BUTTON **/							  
.ui-button.ui-state-default {
	background-color: #971211;
	color: #F0F0F0;
	box-shadow:	0 0 0;
	text-shadow: none;
	background-image: none;
}

.ui-button.ui-state-hover {
	background-color: #971211;
	color: #F0F0F0;
	box-shadow:	0 0 8px #777777, 0 1px 0 #FFFFFF inset;
}

.ui-button.ui-state-active {
	background-color: #971211;
	color: #F0F0F0;
}

/* CALENDAR / DATEPICKER */
.ui-datepicker {
	border: 1px solid #971211;
	padding: .2em .2em 0;
}

.ui-datepicker .ui-datepicker-header {
	background: #971211 !important;
	color: #F0F0F0;
}

.ui-datepicker .ui-datepicker-trigger .ui-button-text {
	background-color: #971211;
}

.ui-datepicker .ui-datepicker-prev .ui-icon,
.ui-datepicker .ui-datepicker-next .ui-icon {
	background-image: url(../../images/myportal/ui-icons_cd0a0a_256x240.png) !important;
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
	box-shadow: none;
}

.ui-datepicker .ui-datepicker-calendar th {
	color: #333;
	background: #eee;
	border-bottom: 1px solid #ddd;
}

.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	background: #FFFFFF;
	padding: 1px;
	padding-right: 0.5em;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.ui-datepicker .ui-datepicker-calendar tr:first-child td {
	border-top: none;
}

.ui-datepicker .ui-datepicker-calendar td:first-child {
	border-left: none;
}

.ui-datepicker .ui-datepicker-calendar td:hover {
	background: #eee;
}

.ui-datepicker td a {
	color: #971211 !important;
	/* Per evitare il trattino bianco nei giorni del calendario */
	webkit-box-shadow: none;
	box-shadow: none;
}

.ui-datepicker td.ui-datepicker-current-day {
	background: #971211 !important;
	color: #F0F0F0 !important;
	font-weight: normal;
}

.ui-datepicker td.ui-datepicker-current-day a {
	background: #971211 !important;
}

.ui-datepicker .ui-state-highlight {
	text-shadow: none !important;
}

/* SELECTONEBUTTON */
.ui-selectonebutton .ui-button.ui-state-active {
	background-color: white !important;
	border: 1px solid #971211 !important;
	color: #444444 !important;
}

.ui-selectonebutton .ui-button {
	background-color: #971211 !important;
	color: #F0F0F0 !important;
}

/*FILEUPLOAD*/
.ui-fileupload-buttonbar .ui-fileupload-choose input{
	transform: none;
}

/*Crea CV*/
	/*Fileupload*/
	#testata\:uploadAllegatoPanel #testata\:fileUpload .ui-widget-header {
		border: none;
		padding: 0;
		background-color: inherit;
	}	

	#testata\:uploadAllegatoPanel #testata\:fileUpload input {
	    transform: none;
	}
	
	#testata\:uploadAllegatoPanel #testata\:filename{
		margin-right: 15px;
	}
	
	#testata\:uploadAllegatoPanel .ui-progressbar-value.ui-widget-header.ui-corner-left{
		background-color: #971211 !important; 
	}

/*AutoCandidatura*/
	/*SelectOneMenu*/
	#candidaVacancyForm .ui-selectonemenu{
	     width: 100% !important;
	}
	#candidaVacancyForm .ui-selectonemenu-label{
	     width: calc(100% - 8px) !important;
	}
	
/*Cerca adesioni*/
#esportaAdesioniBtn a {
	background-color: #9E292B;
	color: #F0F0F0;
	font-weight: bold;
	font-family: Arial,sans-serif;
	text-decoration: none;
	padding: 8px;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
}

#esportaAdesioniBtn a:hover {
	box-shadow: 0 0 10px #72706F;
}

.ui-datatable .ui-datatable-header {
	background: none;
	border: none;
}
.ui-datatable-header .ui-outputpanel {
    text-align: right;
}
.ui-datatable .ui-state-default .ui-sortable-column-icon.ui-icon {
    background-image: url(../../images/myportal/ui-icons_515151_256x240.png);
}
a.linkAsButton {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background: none repeat scroll 0 0 #971211;
    border: 1px solid #971211;
    color: #FFFFFF;
    text-decoration: none !important;
    font-size: 1.2em;
    padding: .3em 1em;	
}