<MODULE name="M_GetConfigValue" class="it.eng.sil.module.config.GetConfigValue">
  <CONFIG pool="SIL_DATI">
  	  <ST_GetConfig statement="ST_GetConfig"/>
  </CONFIG>
</MODULE>

<MODULE name="M_ConfigConvezioneNoce" class="it.eng.sil.module.amministrazione.GenericSelect">
	<CONFIG pool="SIL_DATI" title="">
		<QUERY statement="ST_Get_Valore_Config_Generica">
			<PARAMETER name="CODTIPOCONFIG" type="ABSOLUTE" value="R_L_NOCE" scope=""/>
      	</QUERY>
   	</CONFIG>
</MODULE>





