@import
	url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600italic,400italic,300italic,300,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,900&display=swap);

/*Generale*/
html {
	text-align: left;
}

body {
	color: #515151;
	font-family: 'Titillium Web', sans-serif !important;
	min-height: calc(100% - 62px);
	font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Barlow', sans-serif !important;
}

a {
	color: #59a3ff;
}

.red-link {
	color: #EF3125;
	font-weight: 600;
}

.logo {
	height: 130px;
}

/*Header*/
.header {
	background-color: #fff;
	padding: 20px 50px;
}

#main-logo {
	align-items: center;
	display: flex;
}

#main-logo h1 {
	display: inline-block;
	color: #000;
	font-weight: 600;
	margin-left: 20px;
}

#main-logo-footer img {
	height: 60px;
}

#main-logo-footer h1 {
	display: inline-block;
	color: #fff;
	margin-left: 30px;
	font-size: 26px;
}

#servizi-impiego-img {
	clear: left;
	float: left;
	height: 80px;
}

#servizi-impiego-img img {
	margin-left: 2vw;
	height: 80px;
}

.logos {
	min-height: 100px;
	float: right;
	display: inline-block;
	margin-right: 2vw;
}

.logos img {
	height: 100px;
}

#sub-header {
	color: #fff;
	font-size: 32px;
	background: #31373c;
	font-weight: 600;
	padding: 5px 50px;
}

footer {
	padding: 10px 50px;
	background: #F5F5F4;
	color: #000;
	padding-bottom: 100px;
}

footer a {
	color: #EF3125;
}

footer .main-info {
	margin-top: 50px;
	font-size: 16px;
}

#pre-footer {
	margin-bottom: 30px;
}

.page-title {
	color: #EF3125;
	font-weight: 600;
	font-size: 28px;
}

/*Corpo*/
#content {
	margin: 0;
}

.main-content {
	padding: 10px 0px;
	margin: 10px 50px;
	min-height: 67%;
}

#logo_lavoro_per_te {
	padding-right: 100px;
	padding-left: 0px;
}

.paragraph div {
	margin-bottom: 20px;
}

.black {
	color: #000;
}

.m-t-40 {
	margin-top: 40px;
}

.m-t-60 {
	margin-top: 60px;
}

.carousel {
	background-color: #f0f0f0;
	min-height: 250px;
	margin-top: 30px;
}

.carousel .item {
	margin: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 18px;
}

.carousel-indicators li {
	background-color: #c6c6c6;
}

.carousel-indicators li.active {
	background-color: #666666;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
	top: 46%;
}

span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left {
	width: 60px;
	height: 60px;
	background: #A7A7AF;
	border-radius: 50%;
}

.carousel-control.right, .carousel-control.left {
	background: none;
}

.glyphicon-chevron-right:before, .glyphicon-chevron-left:before {
	content: '';
	font-family: inherit;
}

.glyphicon-chevron-right img, .glyphicon-chevron-left img {
	height: 40px;
	margin-top: 10px;
}

.glyphicon-chevron-right img {
	margin-left: 6px;
}

.glyphicon-chevron-left img {
	margin-right: 6px;
}

input#username, input#password {
	min-width: 300px;
	background: #f7f7f7;
	border: none;
	box-shadow: none;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #292929;
	font-size: 16px;
}

/*Benvenuti*/
.panel-heading.cas-heading {
	width: 90%;
	margin: 0;
	padding-right: 65px;
	padding-top: 0;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-origin: padding-box;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: auto auto;
	color: #515151;
	font-weight: bold;
	padding-bottom: 3px;
}

.panel-heading.cas-heading .title {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Arial, sans-serif;
	padding: 0.4em 0;
	color: #000;
	font-size: 14px;
}

.panel-body.cas-body {
	color: #454545;
}

/*Input form*/
.top-buffer {
	margin-top: 20px;
}

.top-small-buffer {
	margin-top: 5px;
}

.form-control {
	background-color: #F0F0F0;
}

/*Testo del corpo*/
.description {
	float: left;
	margin: 10px 0;
}

/*Login button*/
.btn-primary {
	font-weight: bold;
	border-color: #EF3125;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	box-shadow: 0 0 10px #72706F;
}

#login_button, #login_button:hover {
	background-color: #EF3125;
	color: #ffffff;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.login-continer {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul {
	list-style: none;
}

.description ul {
	padding: 0;
	margin: 0 20px;
}

a {
	text-decoration: underline;
}

a.social {
	text-decoration: none;
}

#avviso_utenti {
	margin: 20px 0;
}

#msg {
	margin: 0px 0 10px;
	padding: 0 15px 0;
	display: inline-block;
}

/*Footer*/
.portalFooter {
	padding-right: 0;
	padding-left: 0;
	margin-right: 6.4vw;
	margin-left: 6.4vw;
	background-color: #FFFFFF;
}

#portal-colophon {
	background-color: #EF3125;
	color: #F0F0F0;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.shadow_wrapper_dx {
	margin-left: 9px;
	padding: 1em 15px;
	position: relative;
}

.shadow_wrapper_sx {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: left;
}

#portal-colophon a {
	-moz-text-blink: none;
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: none;
	-moz-text-decoration-style: solid;
	background-color: #293333;
	color: #F0F0F0;
}

.clearfix {
	display: block;
	zoom: 1;
}

.clearfix:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Extra Small devices (phones, 768px and less) */
@media ( max-width : 768px) {
	.header {
		display: block !important;
	}
	#servizi-impiego-img {
		height: 60px;
	}
	#servizi-impiego-img img {
		height: 50px;
	}
	.logos {
		min-height: 60px;
	}
	.logos img {
		height: 50px;
	}
	#contentCarousel {
		height: 40px;
	}
	#subsiteTitle {
		height: 40px;
	}
	#lavoro-per-te {
		height: 21px;
	}
	#login_form {
		padding: 10px 0;
	}
	.login-continer {
		text-align: center;
		margin-left: 0px;
	}
	h1 {
		font-size: 20px;
	}
	#fm1 {
		float: inherit !important;
	}
	#fed-umbria-container {
		text-align: center;
	}
	ul {
		list-style: none;
		padding-left: 10px;
	}
}

/* Small devices (tablets, 768px and up) */
@media ( min-width : 768px) {
	h1 {
		font-size: 30px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media ( min-width : 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
}

.small, small {
	font-size: 70%;
}

.footer-links  li {
	display: inline;
	margin-left: 10px;
}

footer {
	background-color: #6e2218;
	color: #fff;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover, footer a:FOCUS {
	color: #EF3125;
}

.footer-links {
	display: inline;
	padding: 0;
}

.puglia-regione-footer {
	float: right;
	margin-right: 20px;
}

#pugliaMap {
	height: 500px;
}

#pugliaMap g:HOVER path {
	fill: #6e2218;
	cursor: pointer;
}

#pugliaMap g:HOVER text {
	fill: #fff;
	cursor: pointer;
}

@media ( max-width : 768px) {
	#pugliaMap {
		height: 100%;
	}
}