@import
	url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600italic,400italic,300italic,300,700,700italic);

html {
	height: 100%;
	text-align: left;
}

body {
	color: #515151;
	font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.logo {
	display: inline;
	text-decoration: none;
}

a.logo {
	text-decoration: none;
}

.logos {
	margin-bottom: 15px;
}

.red-banner {
	height: 30px;
	background-color: #ce1c18;
}

.grey-banner {
	height: 30px;
	background-color: #eeeeee;
}

.header-banner {
	font-size: 16px;
	margin-top: 3px;
}

.login-section {
	background-color: #eeeeee;
	padding: 30px;
}

.login-section-heading {
	margin-top: 0px;
	margin-bottom: 25px;
}

.help-info {
	font-size: 16px;
	margin-bottom: 20px;
}

.m-t-10 {
	margin-top: 10px;
}

.er-link {
	text-decoration: none;
	color: inherit;
}

.all-news {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 16px;
	display: block;
	color: #c61d16;
}

.all-news:hover, .all-news:focus {
	color: #8c1410;
}

.avvisi {
	margin-top: 30px;
}

.avvisi-heading {
	margin-left: 10px
}

.news-item {
	border-top: 1px solid #eaeaea;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.news-list:last-child {
	border-bottom: 1px solid #eaeaea;
}

.news-item h5 {
	font-size: 16px;
	color: #c61d16;
	font-weight: 600;
}

.news-item div {
	font-size: 15px;
}

.body-logo {
	margin-top: 10px;
	margin-bottom: 20px;
}

footer {
	font-size: 18px;
	background-color: #30373d;
	padding: 50px 0px;
	color: #fff;
	background-color: #30373d;
	margin-top: 30px;
}

footer .footer-section-title {
	font-size: 24px;
}

footer .footer-section-title-hr {
	border-color: #979797;
	margin-left: 0;
	width: 100%;
	max-width: 300px;
}

footer .footer-section-title-hr.no-width {
	max-width: 100%;
}

footer a {
	color: #65dde0;
	text-decoration: underline;
}

footer ul {
	list-style: none;
	padding-left: 0;
}

footer ul li {
	padding-bottom: 5px;
}

footer ul li .fa {
	padding-right: 15px;
	color: rgb(255, 255, 255);
}

footer .er-logo-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mainTitle {
	font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 35px;
	color: #1C2024;
	display: inline;
	vertical-align: text-top;
}

.mainTitle a {
	color: #1C2024;
	text-decoration: none;
}

.agenzia {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: auto auto;
	max-width: 4.7em;
	margin-top: -126px;
	margin-left: 20em
}

.shadow_wrapper_sx {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: left;
}

.shadow_wrapper_dxs {
	padding-bottom: 1em;
	padding-left: 20.5%;
	padding-right: 2em;
	padding-top: 1em;
}

.shadow_wrapper_dx {
	margin-left: 9px;
	padding-right: 9px;
	position: relative;
}

#portal-siteactions {
	background-color: transparent;
	float: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2em;
	white-space: normal;
}

#portal-siteactions li {
	display: inline-block;
	margin-bottom: 2em;
	margin-left: 1%;
	width: 23%;
}

#portal-colophon {
	background-color: #293333;
	color: #F0F0F0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

#portal-siteactions li a {
	text-decoration: none;
	color: #000000;
}

#portal-colophon .shadow_wrapper_dx {
	padding-bottom: 1em;
	padding-left: 20%;
	padding-right: 2em;
	padding-top: 1em;
}

#portal-colophon a {
	-moz-text-blink: none;
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: none;
	-moz-text-decoration-style: solid;
	background-color: #293333;
	color: #F0F0F0;
}

.clearfix {
	display: block;
	zoom: 1;
}

.clearfix:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

.main-content {
	padding: 10px 0px;
}

.panel-heading.cas-heading {
	width: 90%;
	margin: 0;
	padding-right: 65px;
	padding-top: 0;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-origin: padding-box;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: auto auto;
	color: #515151;
	font-weight: bold;
	padding-bottom: 3px;
}

.bg-pacman-icon {
	background-image: url("/MyCas/images/rer/ico_pagina_login.png");
}

.bg-document-icon {
	background-image: url("/MyCas/images/rer/ico_lettera_presentazione.png");
}

.panel-heading.cas-heading .title {
	background-color: #e3e3e3;
	font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0.4em 1em;
	color: #000;
	font-size: 12px;
}

.panel-body.cas-body {
	color: #454545;
	border: 10px solid #e3e3e3;
	width: 95%;
	margin-left: 15px;
}

#subsiteTitle h2 {
	display: inline;
}

.top-buffer {
	margin-top: 20px;
}

.top-small-buffer {
	margin-top: 5px;
}

.left-small-buffer {
	margin-left: 5px;
}

#password.left-small-buffer {
	margin-left: 8px;
}

.description {
	float: left;
	margin: 10px;
}

.btn-primary {
	color: #ffffff;
	background-color: #ce1c18;
	font-weight: bold;
	border-color: #ce1c18;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color: #f7e7bd;
	color: #333333;
	box-shadow: 0 0 8px #777777, 0 1px 0 #FFFFFF inset;
}

.login-continer {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 105px;
}

a {
	text-decoration: underline;
}

a.social {
	text-decoration: none;
}

/* Extra Small devices (phones, 768px and less) */
@media ( max-width : 768px) {
	.login-continer {
		text-align: center;
		margin-left: 0px;
	}
	h1 {
		font-size: 20px;
	}
	#subsiteTitle {
		height: 30px;
	}
	#subsiteTitle h2 {
		font-size: 20px;
		display: inline-block;
		margin-top: 5px;
	}
	#fm1 {
		float: inherit !important;
	}
}

/* Small devices (tablets, 768px and up) */
@media ( min-width : 768px) {
	h1 {
		font-size: 30px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media ( min-width : 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
}