html {
	height: 100%;
	text-align: left;
	margin: 15px;
}

body {
	color: #515151;
	font-family: "PT Sans", sans-serif;
}

.logo {
	background-image: url("/MyCas/images/rer/logo.png");
	height: 130px;
	width: 142px;
	float: left;
	text-indent: -99999em;
}

.header {
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
	border-bottom: 7px solid #666666;
	text-align: center;
	border-color:#03406F;
}

.logoHeader {
	border: 0 none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Arial, sans-serif;
	margin: 0;
	margin-left: 150px;
	top: 10px;
	color: #515151;
	text-align: left;
	font-weight: normal;
	
	
}

.logoHeader a {
	color: #03406F  !important;
	display: block;
	 font-size: 2.4em;
	padding: 25px 0 56px 0;
	text-decoration: none;
	vertical-align: baseline;
	float: left;
	padding: 29px 0 36px 10px;
	font-size: 150%;
	
}

.headerImg {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #03406F;
	background-image: url("/MyCas/images/rer/header-portale.jpg");
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto auto;
	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 6px;
	height: 24px;
}

.logos {
	min-height: 111px;
}

.rerLogo {
	background-image: url("/MyCas/images/rer/rer.gif");
	height: 33px;
	width: 220px;
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}
.rerLogoContainer {
	padding: 1.3em 6px;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: right;
	clear: right;
	top: 10px;
}

#contentCarousel {
	background-color: #03406F;
	font: 69% "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Arial, sans-serif;
}

#subsiteTitle {
	padding-top: 0px;
	height: 50px;
	background-position: right center;
	background-repeat: no-repeat;
	padding-left: 10px;
}

#subsiteTitle h2 {
	font-size: 250%;
	margin: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Arial, sans-serif;
	border: 0;
	font-weight: normal;
	color:#F8F8FF;
		
}


.shadow_wrapper_sx {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: left;
}

.shadow_wrapper_dx {
	margin-left: 9px;
	padding-right: 9px;
	position: relative;
}

#portal-siteactions {
	background-color: transparent;
	float: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2em;
	white-space: normal;
}

#portal-siteactions li {
	display: inline-block;
	margin-bottom: 2em;
	margin-left: 1%;
	width: 23%;
}

#portal-colophon {
	background-color: #293333;
	color: #F0F0F0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

#portal-siteactions li a {
	text-decoration: none;
	color: #000000;
}

#portal-colophon .shadow_wrapper_dx {
	padding-bottom: 1em;
	padding-left: 20%;
	padding-right: 2em;
	padding-top: 1em;
}

#portal-colophon a {
	-moz-text-blink: none;
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: none;
	-moz-text-decoration-style: solid;
	background-color: #293333;
	color: #F0F0F0;
}

.clearfix {
	display: block;
	zoom: 1;
}

.clearfix:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

.main-content {
	padding: 10px 0px;
}

.panel-heading.cas-heading {
	width: 90%;
	margin: 0;
	padding-right: 65px;
	padding-top: 0;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-origin: padding-box;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: auto auto;
	color: #515151;
	font-weight: bold;
	padding-bottom: 3px;
}

.bg-pacman-icon {
	background-image: url("/MyCas/images/rer/ico_pagina_login.png");
}

.bg-document-icon {
	background-image: url("/MyCas/images/rer/ico_lettera_presentazione.png");
}

.panel-heading.cas-heading .title {
	background-color: #e3e3e3;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Arial, sans-serif;
	padding: 0.4em 1em;
	color: #000;
	font-size: 12px;
}

.panel-body.cas-body {
	color: #454545;
	border: 10px solid #e3e3e3;
	width: 95%;
	margin-left: 15px;
}

#subsiteTitle h2 {
	display: inline;
}

.top-buffer {
	margin-top: 20px;
}

.top-small-buffer {
	margin-top: 5px;
}

.left-small-buffer {
	margin-left: 5px;
}

#password.left-small-buffer {
	margin-left: 8px;
}

.description {
	float: left;
	margin: 10px;
}

.btn-primary {
	color: #ffffff;
	background-color: #1c537d;
	font-weight: bold;
	border-color: #1c537d;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color: #f7e7bd;
	color: #333333;
	box-shadow: 0 0 8px #777777, 0 1px 0 #FFFFFF inset;
}

.login-continer {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 105px;
}

a {
	text-decoration: underline;
}

.shadow_wrapper_dx {
	max-width: 955px;
    margin: 0 auto;
    text-align: left;

   }
.shadow_wrapper_sx {
    max-width: 955px;
    margin: 0 auto;
    text-align: left;
   
}

#portal-siteactions li a, #portal-siteactions li a:hover {
    border: none;
    color: #313333;
    background-color: transparent;
    padding-left: 1em;
}

#portal-colophon .shadow_wrapper_dx {
    padding: 1em 2em;
      
   

}

#portalFooter {
    background-color: #F4F4F4;
    
}

#portal-siteactions li {
    display: inline-block;
    width: 23%;
    border-left: 1px dotted #099abe;
    margin-left: 1%;
    margin-bottom: 2em;
}



/* Extra Small devices (phones, 768px and less) */
@media ( max-width : 768px) {
	.login-continer {
		text-align: center;
		margin-left: 0px;
	}
	h1 {
		font-size: 20px;
	}
	#subsiteTitle {
		height: 30px;
	}
	#subsiteTitle h2 {
		font-size: 15px;
		display: inline-block;
		margin-top: 5px;
	}
	#fm1 {
		float: inherit !important;
	}
	#portal-siteactions li{
	
	}
	
}

/* Small devices (tablets, 768px and up) */
@media ( min-width : 768px) {
	h1 {
		font-size: 30px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media ( min-width : 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
}



