html {
    margin: 	0px;
    padding: 	0px;
}
body {
	margin: 	15px;
	padding: 	0px;
}

/*HEADER*/
#top-header-area {
	margin: 30px 6.4vw;
	text-align:center;
}
.logo{
	padding: 0 15px;
	width: auto;
    display: inline-block;
}
#left{
	float:left;
}
#right{
	float: right;
    width: 119px;
    text-align: right;
}
#center{
	margin:0 auto;
}

#header-bar-background {
	background-color: #72706F;
	height: 30px;
	margin-bottom: 10px;
}
 
#header-bar-foreground {
	background-color: #499358;
    box-shadow: 0px -2px 0px #499358, 
    	0px 2px 0px #499358, 
    	0px -1px 10px #72706f, 
    	0px 1px 4px #72706f;
    height: 100%;
    margin: 0px 6.4vw;
}

/*MENU*/
#menu {
	margin-top: 3px; 
}
.home_menu .home_menu_header {
	background-color: #fff;
    height: 0;
    margin-bottom: 0 !important;
}
.home_menu_item ul{
	padding-top: 30px !important;
}

/*FOOTER*/
#footer-content {
	background-color: #499358;
	color: #fff;
	font-size: 1.2em;
	margin: 0px 6.4vw;
	padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*CONTENT*/
#content{
	margin: 20px 6.4vw;
	padding: 0;
}

.ui-widget-header {
    border: none;
}

/*Portlet*/
	/*Header*/
	.portlet dt.portletHeader, dl.homePortlet dt.portletHeader {
	    width: calc(100% - 20px) !important;
	}
	.portletSimple dt.portletHeader .tile {
	    background-color: #e3e3e3;
	    font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Arial, sans-serif;
	    display: inline-block;
	    padding: 5px 10px;
	    color: #000;
	}
	.portlet-close {
	    background-image: url(../../images/rer/ico_chiusura.png);
	    height: 16px;
	    position: absolute;
	    right: 0px;
	    top: 0;
	    width: 16px;
	}
	
	.portlet dt.portletHeader span.tile {
	    cursor: default;
	    background-image: -webkit-gradient(linear, left bottom, left top, from(#dddddd), to(#f7f7f7)) !important;
	    background-image: -moz-linear-gradient(bottom, #dddddd, #f7f7f7 100%) !important;
	    border: 1px solid #CCCCCC;
	    border-radius: 5px;
	}

	/*Body*/
	.rerPortletAdvancedStatic .portletItem {
	    background-color: #fff;
	    color: #454545;
		padding: 10px;
	}
	.portletItem {
	    border: 1px solid #CCCCCC !important;
	    width: calc(100% - 20px) !important;
	}

/*Bottoni*/
.ui-datepicker-trigger .ui-button-text {
    background-color: #a5c78c;
}

/*Datepicker*/
.ui-datepicker-header {
    background: #a5c78c !important;
}
.ui-datepicker td:not(.ui-datepicker-other-month) {
    border-radius: 5px;
    background: #a5c78c !important;
}
.ui-datepicker td.ui-datepicker-current-day .ui-state-default {
    background: #fff !important;
    color: #4f4f4f !important;
    font-weight: normal;
}

/*Varie*/
/*Fileupload*/
.ui-fileupload-buttonbar .ui-fileupload-choose input{
	transform: none;
}
	
.ui-datepicker-trigger.ui-button-icon-only .ui-button-text{
    height: 1em;
}	
.ui-button.ui-state-default{
	height: 1.8em;
}
.ui-widget .ui-widget{
    font-size:1.1em;
}
.ui-widget-content .ui-state-default, a.ui-state-default.comboBoxStyle{
	background-color:#ffff;
}

/*Crea CV*/
	.creaCvPanelGrid{
		width: 100%;
	}
	.creaCvPanelGrid textarea.ui-inputtextarea{
		width: calc(100% - 8px);
	}
	
	/*Fileupload*/
	#testata\:uploadAllegatoPanel #testata\:fileUpload .ui-widget-header {
		/* border: 1px solid #c4c4c4; */
		border: none;
		padding: 0;
		background-color: inherit;
	}
	#testata\:uploadAllegatoPanel #testata\:fileUpload .ui-widget-content {
		border: none;
	} 
	#testata\:uploadAllegatoPanel .ui-progressbar-value.ui-widget-header.ui-corner-left{
		background-color: #499358 !important; 
	}
	#testata\:uploadAllegatoPanel .ui-button-text.ui-c{
		color: #525152;
	}
	#testata\:uploadAllegatoPanel #testata\:filename{
		margin-right: 15px;
	}

span.buttonStyle.ui-button,
a.ui-button.secondButton,
input.buttonStyle.ui-button.secondButton,
button.ui-button.ui-widget.ui-state-default.secondButton{
	background-color: #a5c78c;
}

/*AutoCandidatura*/
	/*SelectOneMenu*/
	#candidaVacancyForm .ui-selectonemenu,
	#candidaVacancyForm .ui-selectonemenu-label{
	     width: 100% !important;
	}  

div#candidaVacancyForm\:curriculum,
div#candidaVacancyForm\:lettera {
    width: 100% !important;
}

/*-^^^-***-^^^-*/


#portal-colophon {
    border-top:				1px solid #CCCCCC;
    background-color: #EEEEEE !important;
    color:						#333333 !important;
    height:						50px;
}

#trento-background {
    width:		420px;
    height:		450px;
    float:		left;
}

.login-panel {
    min-height: 				450px;	
    border:					1px solid #CCCCCC;
    float:					left;
}

#login-form {
    float: 		left !important;
    margin-top: 20px !important;
}

a.ui-button {
    background-color:	#a5c78c;
    border:						1px solid #357135;
    border-radius:		3px 3px 3px 3px;
    margin:						4px;
}

a.ui-state-hover {
    background-color:	#f7e7bd !important;
    background-image:	none !important;
    border:						1px solid #000000 !important;
    border-radius:		3px 3px 3px 3px;
    box-shadow:				0px 2px 5px #AAAAAA; 	
    color:						#333333 !important;
}

.ui-menu .ui-menu-item a.ui-state-hover {
    background-color:	#CCCCCC !important; 	
}

.ui-widget-content a.ui-state-default {
    background-color:	#a5c78c;
    border:						1px solid #357135;
    border-radius:		3px 3px 3px 3px;
}

a.ui-button:link {
    color: #525152 !important;	
}

.ui-tabs .ui-widget-header {
    border: 1px solid #777777 !important;	
}

#rer-logo a {
    margin-right: 		40px; 
    text-decoration:	none !important;	
}

.portletHeader {
    padding-right:		0px !important;
}

#content .portlet dd {
    box-shadow: 1px 1px 3px #CCCCCC;	
}

.portlet-close {
    top: 6px;
}

a.ui-button.yellowButton, 
input.buttonStyle.ui-button.yellowButton, 
button.ui-button.ui-widget.ui-state-default.yellowButton, 
.ui-datepicker-calendar td a.ui-state-default {
    background-color: #a5c78c;
    border:						1px solid #357135;
}

.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus {
    background-image: none !important;
    background-color: #f7e7bd !important;
}
.ui-widget-content {
    border:						1px solid #357135;
}

.ui-tabs .ui-state-active {
    background-color: #f7e7bd !important;
}

.ui-autocomplete.ui-state-hover {
    background-color: #CCCCCC !important;
}

.ui-widget-header {
    background-color: #a5c78c;
}

.ui-tabs .ui-tabs-nav li a {
	border-bottom: 1px solid black !important;
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    background-color: #f7e7bd !important;
}

#content a.buttonStyle.yellowButton:hover {
    background-color: #f7e7bd !important;
}

a.ui-button, 
input.buttonStyle.ui-button,   
button.ui-button.ui-widget.ui-state-default {
    background-color: #a5c78c;
    border:						1px solid #357135;
    border-radius:		5px;
}

.ui-button {
    margin: 5px;	
}

#home_menu_title {
    background-color: transparent !important;
}

#page_title {
    background-position: 	left;
    background-repeat:		no-repeat;
    background-color:			#efe7de;
}

.ui-state-default {
    border:	1px solid #357135 !important;
}

a.ui-state-default.comboBoxStyle {
    background-color: #bdd79c !important;
}

.dataTables_wrapper table td a.ui-state-default {
    background-color: #a5c78c !important;
    border: 0px !important;
}

#home_menu_title {
    background-color: #d6c1ab !important;
}

.home_menu_header div {
    background-color: #efe7de !important;
}

#accordion .ui-state-hover {
    background-color: #f7e7bd !important;
}

#accordion .ui-state-active
{
    background-color: #f7e7bd !important;
}

.ui-button:hover, .marginButton:hover, .yellowButton:hover {
    background-color: #f7e7bd !important;
    color: #525152 !important; 
}

.backButtonStyle {
    color: #525152 !important; 
}

.marginButton {
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    color:				 #525152 !important;
    background-color: #a5c78c;
    text-decoration: none !important;
    border: 1px solid #317131 !important;
    border-radius:		3px 3px 3px 3px;
}

#masterForm .ui-widget-header {
    padding: 10px;
}

#masterForm #dialog_image_opener {
    padding: 2px;
    height:		auto;
}

.infoButton {
    padding: 4px !important;
    padding-right: 15px;
    padding-left: 15px;
    background-color:	#a5c78c;
    border:						1px solid #357135;
    border-radius:		3px 3px 3px 3px;	
    color: #525152;
    font-size: 1.2em;
}

.infoButton:hover {
    padding: 4px !important;	
    padding-right: 15px;
    padding-left: 15px;
    background-color:	#f7e7bd;
    border:						1px solid #525152;
    border-radius:		3px 3px 3px 3px;	
    color: #525152 !important;
    font-size: 1.2em;
    text-decoration: none !important;
}

#altre_info .marginButton, 
#abilitazioni .marginButton {
    padding: 4px !important;	
}

.ui-accordion-header {
    background-color: #a5c78c !important;
    background-image: none !important;
    border: 1px solid #317131 !important;
}

.ui-tabs .ui-widget-header {
    background-color: #a5c78c !important;
}

a.buttonStyle span.ui-button-text {
    color: #525152;
}

#form_search:dove_input {
    background-color: #FFFFFF !important;	
}

.ui-accordion-header a {
    background-color: #a5c78c !important;	
    background-image: none !important; 
}

a.ui-button, input.buttonStyle.ui-button, button.ui-button.ui-widget.ui-state-default,
.ui-widget-content a.ui-state-default, .cleanButton {
    color: #525152 !important;
}

#form_lista_filtri:filtrationAccordion:contratto_data .ui-widget-content,
#form_lista_filtri:filtrationAccordion:contratto_data .ui-datatable-odd,
#form_lista_filtri:filtrationAccordion:contratto_data .ui-state-hover {
    background-color: #990000 !important; 
}


a.ui-button, input.buttonStyle.ui-button, button.ui-button.ui-widget.ui-state-default {
    border: 1px solid #777777;
}

.ui-tabs .ui-tabs-nav li a {
    background-color: #bdd79c !important;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ui-widget-header .ui-state-default {
    border-color: #525152 !important;
}

.ui-widget-content .ui-state-default {
    border-color: #525152 !important;
}

.home-dialog-info-content {
    padding-left: 2em !important;
}

.ui-dialog-titlebar {
    border-color: #888888;
}

.yg_td {
    margin: 0px;   
    padding: 0px;
    background-color: #fff !important;	  	
    border-radius: 0px !important; 
}

.yg_td_padding_top {
    padding-top: 10px;
}

td .marginButton {
    background-color: #fff !important;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;	
    text-decoration: none !important;
    border: 0px solid #fff !important;
    border-radius:		0px 0px 0px 0px;
}

.yg_td_border_bottom {
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #a5c78c;
    padding-bottom: 10px;
}

.ui-state-active .ui-button-text{	
	background: #bdd79c;
}