@import
	url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600italic,400italic,300italic,300,700,700italic);

@font-face {
  font-family: 'FontAwesome';
  src: url("../../commons/fonts/fontawesome-webfont.eot");
  src: url("../../commons/fonts/fontawesome-webfont.eot") format('embedded-opentype'),
      url("../../commons/fonts/fontawesome-webfont.woff") format('woff'),
      url("../../commons/fonts/fontawesome-webfont.ttf") format('truetype'),
      url("../../commons:fonts/fontawesome-webfont.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
	margin: 0;
}
/*HEADER*/
.grey-banner {
    height: 30px;
    background-color: #eeeeee;
}

.bts-like-container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    line-height: 1.42857143;
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-banner {
    font-size: 16px;
    margin-top: 3px;
}
.bts-like-container{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.42857143;
    box-sizing: border-box;
    font-size: 14px;
}
.bts-like-container-fluid:after, .bts-like-container-fluid:before, 
.bts-like-container:after, .bts-like-container:before,
.bts-like-row:after, .bts-like-row:before{
	display: table;
    content: " ";
    clear: both;
}
.er-link {
    text-decoration: none !important;
    color: inherit !important;
    font-size: 16px;
}
.logos {
    margin-bottom: 15px;
}
a.logo {
    text-decoration: none;
}
.logo {
    display: inline;
    text-decoration: none;
}
.header h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1.1;
	font-weight: 500;
}
.mainTitle {
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 35px;
    color: #515151;
    display: inline;
    vertical-align: text-top;
}
.mainTitle a {
    color: #515151;
    text-decoration: none;
}
.red-banner {
    height: 30px;
    background-color: #ce1c18;
}
@media (min-width: 768px){
	.bts-like-container {
	    width: 750px;
	}
	.header h1 {
	    font-size: 30px;
	}
}
@media (min-width: 992px){
	.bts-like-container {
	    width: 970px;
	}	
}
@media (min-width: 1200px){
	.bts-like-container {
	    width: 1170px;
	}
}
#menu-user {
	display: inline;
}

#home_menu_title {
	background-color: #ce1c18;
	color: #fff;
    margin-top: 0;
    border-left: 4px solid #FFF;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    height: 28px;
}
#home_menu_title:hover{
	background-color: #ce1c18;
	color: #fff;
	margin-top: 0;
    border-left: 4px solid #FFF;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    height: 28px;
}
.home_menu .home_menu_header {
	background-color: #e3e3e3;
    height: 0;
    margin-bottom: 0 !important;
}

.home_menu_item ul {
    padding-top: 40px !important;
}
.home_menu .home_menu_item ul li{
    font-size: 14px;	
}
/*HEADER END*/

/*FOOTER*/

#footer {
	font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #30373d;
	box-sizing: border-box;
    color: #fff;
	font-size: 18px;
    margin-top: 30px;
	padding: 50px 15px;
	line-height: 1.42857143;
}
#footer h3{
	font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}
#footer a{
	color: #65dde0;
    text-decoration: underline;
}
#footer a:focus, #footer a:hover{
	color: #23527c;
    text-decoration: underline;
}
#footer .footer-section-title-hr {
    margin-left: 0;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    border-color: #979797;
    line-height: 1.42857143;
}
#footer .footer-section-title-hr.no-width {
    max-width: 100%;
}
#footer .er-logo-row {
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.42857143;
}
#footer ul li {
    padding-bottom: 5px;
    margin: 0; 
}
#footer ul li .fa {
    padding-right: 15px;
    color: rgb(255, 255, 255);
}
.container-fluid:after, .container-fluid:before, 
.footer-container:after, .footer-container:before,
.footer-row:after, .footer-row:before{
	display: table;
    content: " ";
    clear: both;
}
.footer-container {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (min-width: 768px){
	.footer-container {
	    width: 750px;
	}
}
@media (min-width: 992px){
	.footer-container {
	    width: 970px;
	}
}
@media (min-width: 1200px){
	.footer-container {
   		width: 1170px;
	}
	.bts-like-col-md-3 {
	    width: 25%;
	}
	.bts-like-col-md-6 {
    	width: 50%;
	}
	.bts-like-col-md-12 {
    	width: 100%;
	}
	.bts-like-col-md-3, .bts-like-col-md-6, .bts-like-col-md-12 {
		box-sizing: border-box;
		float: left;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
		position: relative;
	}
	
}
.footer-row {
	margin-right: -15px;
    margin-left: -15px;
}
.footer-section-title{
	color: inherit;
}
.text-center {
    text-align: center;
}
#footer p {
	line-height: 1.42857143;
	margin: 0 0 10px;
}
.m-t-10{
	margin-top: 10px;
}
#footer .fa {
	font-weight: 900;
}
/*FOOTER END*/

/*Componenti grafici*/
a.ui-button.buttonStyle.ui-widget, 
input.buttonStyle.ui-button.buttonStyle, 
button.ui-button.ui-widget.ui-state-default.buttonStyle, 
.ui-datepicker-calendar td a.ui-state-default {
	border-radius: 4px;
	-webkit-border-radius: 4px;
    background: none repeat scroll 0 0 #CB1D15;
    border: 1px solid #CB1D15;
    color: #FFFFFF;
    font-weight: normal;
}
.ui-widget-content .ui-state-default, 
a.ui-state-default.comboBoxStyle,
.ui-button.ui-widget.ui-state-default {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #CB1D15;
    background: #CB1D15;
    font-weight: normal;
    color: #FFFFFF;
}
.ui-state-active,
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active,
.ui-button.ui-widget.ui-state-active {
    border: 1px solid #CB1D15;
    background-color: #FFFFFF;
    background: none;
    font-weight: normal;
    color: #515151;
}
/*Hover*/
a.ui-state-hover.comboBoxStyle {
    background: none !important;
    background-color: #f7e6bc !important;
}

/*Icone*/
.ui-button.buttonStyle.ui-widget span.ui-icon,
table.dataTable td a.ui-button .ui-icon,
a.ui-button.comboBoxStyle .ui-icon,
a.ui-button .ui-icon,
.ui-state-default .ui-icon,
.ui-widget-header .ui-icon {
    background-image: url(../../images/myportal/ui-icons_ffffff_256x240.png);
}

.ui-button.buttonStyle.ui-widget.ui-state-hover span.ui-icon,
table.dataTable td a.ui-button.ui-state-hover .ui-icon,
a.ui-button.comboBoxStyle.ui-state-hover .ui-icon,
a.ui-button.ui-state-hover .ui-icon,
button.ui-button.ui-widget.ui-state-hover .ui-icon {
    background-image: url(../../images/myportal/ui-icons_515151_256x240.png);
}
button.ui-button.ui-widget.ui-state-focus .ui-icon{
	background-image: url(../../images/myportal/ui-icons_515151_256x240.png);
}


/*accordion*/
.widget_container .ui-accordion-header.ui-state-default {
    border: 1px solid #c1c1c1;
    background: #515151;
    font-weight: normal;
    color: #ffffff;
    box-shadow: none;
}

h3.ui-accordion-header a {
    color: #ffffff ! important;
    text-decoration: none;
}

h3.ui-accordion-header.ui-state-active a {
    color: #ffffff ! important;
    text-decoration: none;
}

h3.ui-state-active a {
	 color: #515151 ! important;
	 text-decoration: none;
}

.ui-widget-header {
    border: 1px solid #515151;
    background: #515151;
    color: white;
}

.ui-tabs-nav.ui-widget-header{
	background: #FFFFFF;
}
.ui-tabs-nav .ui-state-default a, 
.ui-tabs-nav .ui-state-default a:link, 
.ui-tabs-nav .ui-state-default a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.ui-tabs-nav .ui-state-default.ui-state-hover a, 
.ui-tabs-nav .ui-state-default.ui-state-hover a:link,
.ui-tabs-nav .ui-state-default.ui-state-hover a:visited,
.ui-tabs-nav .ui-state-default.ui-state-active a, 
.ui-tabs-nav .ui-state-default.ui-state-active a:link,
.ui-tabs-nav .ui-state-default.ui-state-active a:visited {
    color: #515151;
    text-decoration: none;
}

#tabs.ui-tabs {
    border: 1px solid #515151;
}

#tabs .ui-widget-header {
	border: none;
	border-bottom: 1px solid #515151;
	border-radius: 0;
}

.rerPortletAdvancedStatic .portletItem ul {
	border: 1px solid #d3d3d3;
}
.rerPortletAdvancedStatic .portletItem .ui-menu .ui-menu-item {
    background-color: #e3e3e3;
}
.rerPortletAdvancedStatic .portletItem .ui-menu .ui-menu-item .ui-state-hover{
	background: none !important;
    background-color: #515151 !important;
    color: #ffffff !important;
}