@import
	url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600italic,400italic,300italic,300,700,700italic);
	
@font-face {
  font-family: 'FontAwesome';
  src: url("../../commons/fonts/fontawesome-webfont.eot");
  src: url("../../commons/fonts/fontawesome-webfont.eot") format('embedded-opentype'),
      url("../../commons/fonts/fontawesome-webfont.woff") format('woff'),
      url("../../commons/fonts/fontawesome-webfont.ttf") format('truetype'),
      url("../../commons:fonts/fontawesome-webfont.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
	margin: 0;	
}

/*HEADER*/
.grey-banner {
    height: 30px;
    background-color: #eeeeee;
}

.bts-like-container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    line-height: 1.42857143;
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-banner {
    font-size: 16px;
    margin-top: 3px;
}
.bts-like-container{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.42857143;
    box-sizing: border-box;
    font-size: 14px;
}
.bts-like-container-fluid:after, .bts-like-container-fluid:before, 
.bts-like-container:after, .bts-like-container:before,
.bts-like-row:after, .bts-like-row:before{
	display: table;
    content: " ";
    clear: both;
}
.er-link {
    text-decoration: none !important;
    color: inherit !important;
    font-size: 16px;
}
.logos {
    margin-bottom: 15px;
}
a.logo {
    text-decoration: none;
}
.logo {
    display: inline;
    text-decoration: none;
}
.header h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1.1;
	font-weight: 500;
}
.mainTitle {
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 35px;
    color: #515151;
    display: inline;
    vertical-align: text-top;
}
.mainTitle a {
    color: #515151;
    text-decoration: none;
}
.red-banner {
    height: 30px;
    background-color: #ce1c18;
}
@media (min-width: 768px){
	.bts-like-container {
	    width: 750px;
	}
	.header h1 {
	    font-size: 30px;
	}
}
@media (min-width: 992px){
	.bts-like-container {
	    width: 970px;
	}	
}
@media (min-width: 1200px){
	.bts-like-container {
	    width: 1170px;
	}
}
#menu-user {
	display: inline;
}

#home_menu_title {
	background-color: #ce1c18;
	color: #fff;
    margin-top: 0;
    border-left: 4px solid #FFF;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    height: 28px;
}
#home_menu_title:hover{
	background-color: #ce1c18;
	color: #fff;
	margin-top: 0;
    border-left: 4px solid #FFF;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    height: 28px;
}
.home_menu .home_menu_header {
	background-color: #e3e3e3;
    height: 0;
    margin-bottom: 0 !important;
}

.home_menu_item ul {
    padding-top: 40px !important;
}
.home_menu .home_menu_item ul li{
    font-size: 14px;	
}
/*HEADER END*/

/*FOOTER*/

#footer {
	font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #30373d;
	box-sizing: border-box;
    color: #fff;
	font-size: 18px;
    margin-top: 30px;
	padding: 50px 15px;
	line-height: 1.42857143;
}
#footer h3{
	font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}
#footer a{
	color: #65dde0;
    text-decoration: underline;
}
#footer a:focus, #footer a:hover{
	color: #23527c;
    text-decoration: underline;
}
#footer .footer-section-title-hr {
    margin-left: 0;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    border-color: #979797;
    line-height: 1.42857143;
}
#footer .footer-section-title-hr.no-width {
    max-width: 100%;
}
#footer .er-logo-row {
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.42857143;
}
#footer ul li {
    padding-bottom: 5px;
    margin: 0; 
}
#footer ul li .fa {
    padding-right: 15px;
    color: rgb(255, 255, 255);
}
.container-fluid:after, .container-fluid:before, 
.footer-container:after, .footer-container:before,
.footer-row:after, .footer-row:before{
	display: table;
    content: " ";
    clear: both;
}
.footer-container {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (min-width: 768px){
	.footer-container {
	    width: 750px;
	}
}
@media (min-width: 992px){
	.footer-container {
	    width: 970px;
	}
}
@media (min-width: 1200px){
	.footer-container {
   		width: 1170px;
	}
	.bts-like-col-md-3 {
	    width: 25%;
	}
	.bts-like-col-md-6 {
    	width: 50%;
	}
	.bts-like-col-md-12 {
    	width: 100%;
	}
	.bts-like-col-md-3, .bts-like-col-md-6, .bts-like-col-md-12 {
		box-sizing: border-box;
		float: left;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
		position: relative;
	}
	
}
.footer-row {
	margin-right: -15px;
    margin-left: -15px;
}
.footer-section-title{
	color: inherit;
}
.text-center {
    text-align: center;
}
#footer p {
	line-height: 1.42857143;
	margin: 0 0 10px;
}
.m-t-10{
	margin-top: 10px;
}
#footer .fa {
	font-weight: 900;
}
/*FOOTER END*/


/*** CONTENUTO PAGINE E COMPONENTI ***/
.creaCvPanelGrid{
	width: 35%;
}

/*Crea CV*/
	/*Fileupload*/
	#testata\:uploadAllegatoPanel #testata\:fileUpload .ui-widget-header {
		border: none;
		padding: 0;
		background-color: inherit;
	}	

	#testata\:uploadAllegatoPanel #testata\:fileUpload input {
	    transform: none;
	}
	
	#testata\:uploadAllegatoPanel #testata\:filename{
		margin-right: 15px;
	}
	
	#testata\:uploadAllegatoPanel .ui-progressbar-value.ui-widget-header.ui-corner-left{
		background-color: #ce1c18 !important; 
	}
	
/*icone*/
.ui-icon.ui-icon-contact,
.ui-icon.ui-icon-copy,
.ui-icon.ui-icon-pencil,
.ui-icon.ui-icon-document,
.ui-icon.ui-icon-plusthick,
.ui-icon.ui-icon-print, 
.ui-icon.ui-icon-trash{
	background-image: url("../../images/myportal/ui-icons_515151_256x240.png");
}

.ui-button-icon-only.ui-state-default {
	background: none repeat scroll 0 0 #CB1D15;
	border: 1px solid #CB1D15;
	width:2em;
	height:2em;
	margin: 1px;
}
.ui-datepicker-trigger .ui-button-text {
    background-color: #CB1D15;
}

/******CAMPI FORM******/
#testata .formField {
	width: 100%;
}

#testata .formField input {
	width: 70%;
}
/* DatePicker */
#testata .ui-datepicker-trigger{
	left: inherit;
}
.ui-datepicker-header {
    background: #515151 !important;
}
.ui-datepicker td:not(.ui-datepicker-other-month) {
    border-radius: 0px;
    background: none !important;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
	border: 1px solid #CB1D15 !important;
    background: none;
    border: none;
    color: #FFFFFF;
	text-align: center;
	border-radius: 5px;
	background-color: #CB1D15;
}
.ui-datepicker td.ui-datepicker-current-day .ui-state-default {
    background: #CB1D15 !important;
    color: #FFFFFF !important;
    font-weight: bold;
}
.ui-datepicker td.ui-datepicker-current-day .ui-state-default {
	text-shadow: none;
	font-weight: bold;
	color: #CB1D15 !important;
	border: 1px solid #CB1D15;
	background-color: #FFFFFF !important;
	text-align: center;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
    border: 1px solid #515151 !important;
    background: #f7e6bc  !important;
    font-weight: bold;
    color: #515151 !important;
    font-weight: bold;
    text-shadow: none;
}

.ui-widget-header .ui-icon {
    background-image: url(../../images/myportal/ui-icons_ffffff_256x240.png);
}

div#candidaVacancyForm\:curriculum,
div#candidaVacancyForm\:lettera {
    width: 100% !important;
}

/*FILEUPLOAD*/
.ui-fileupload-buttonbar .ui-fileupload-choose input{
	transform: none;
}

.nowrap{
	white-space: nowrap;
}

/* STILE ICONE / COLORE*/
.ui-state-default .ui-icon {
    background-image: url("../../images/myportal/ui-icons_ffffff_256x240.png");
}

.ui-dialog-titlebar {
	background: none !important;
    background-color: #CB1D15 !important;
    color: white;
    text-shadow: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-color: white;
    border: 1px solid #CB1D15;
}

.ui-selectonebutton .ui-button {
    background-color: #CB1D15 !important;
    color: #FFFFFF !important;
}
.ui-selectonebutton .ui-button.ui-state-active {
    background-color: white !important;
    border: 1px solid #CB1D15 !important;
    color: #515151  !important;
}

.ui-selectonebutton .ui-button {
    background-color: #CB1D15 !important;
    color: #FFFFFF !important;
}
.ui-selectonebutton .ui-button.ui-state-active {
    background-color: white !important;
    border: 1px solid #CB1D15 !important;
    color: #515151;
}

/*Radiobutton*/
span.ui-radiobutton-icon.ui-icon.ui-icon-bullet {
    background: radial-gradient(#4f4f4f 0%, #4f4f4f 25%, transparent 30%, transparent);
    margin: 0;
}


/*Form*/
/*.form-group {
	margin-top: 10px;
}*/
.form-horizontal .form-group {
	/*margin-bottom: 2px;*/
	margin-top: 10px;
	/*border-top: 1px solid #eeeeee;
	border-spacing: 2px;*/
	margin-right: 3px;
	margin-left: 3px;
}
.form-horizontal .form-group .control-label {
	text-align: left;
	padding-left: 5px;
}
input.form-control {
	display: block;
	width: 100%;
	/*height: 33px;
	padding: 4px 14px;*/
	font-size: 14px;
	line-height: 1.42857143;
	color: #919292;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control .ui-editor {
	border: 1px solid #8f8f8f;
	border-radius: 5px;
}

table .ui-state-default.ui-state-active .ui-sortable-column-icon.ui-icon {
    background-image: url("../../images/myportal/ui-icons_515151_256x240.png");
}

.ui-datatable .ui-datatable-header {
	background: none;
	border: none;
}
.ui-datatable-header .ui-outputpanel {
    text-align: right;
}
.ui-datatable .ui-state-default .ui-sortable-column-icon.ui-icon {
    background-image: url(../../images/myportal/ui-icons_515151_256x240.png);
}
a.linkAsButton {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background: none repeat scroll 0 0 #CB1D15;
    border: 1px solid #CB1D15;
    color: #FFFFFF;
    text-decoration: none !important;
    font-size: 1.2em;
    padding: .3em 1em;	
}