<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta name="robots" content="noindex,nofollow"></meta>
</head>
<body class="emb-font-stack-default"
	style="margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; min-width: 100%"
	bgcolor="#fbfbfb" cz-shortcut-listen="true">
	<div id="emailBody"></div>
	<div id="template" >
		<center class="wrapper"
			style="background-color: #fbfbfb; width: 100%; min-width: 620px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%">
			<table class="wrapper"
				style="border-collapse: collapse; border-spacing: 0; background-color: #fbfbfb; width: 100%; min-width: 620px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; table-layout: fixed">
				<tbody>
					<tr>
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">
							<center>
								<table class="preheader"
									style="border-collapse: collapse; border-spacing: 0; Margin-left: auto; Margin-right: auto; background-color: #fbfbfb; background-image: none; background-attachment: scroll; background-repeat: repeat; background-position: top left">
									<tbody>
										<tr>
											<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">
												<table style="border-collapse: collapse; border-spacing: 0; width: 602px">
													<tbody>
														<tr>
															
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<table class="header" style="border-collapse: collapse; border-spacing: 0; Margin-left: auto; Margin-right: auto">
									<tbody>
										<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #e9e9e9; height: 1px">
											<td
												style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px; width: 602px">&nbsp;</td>
										</tr>
										<tr>
											<td class="logo"
												style="padding-top: 32px; padding-bottom: 32px; padding-left: 0; padding-right: 0; vertical-align: top; font-family: sans-serif; color: #41637e; font-size: 26px; font-weight: 700; letter-spacing: -0.02em; line-height: 32px; text-align: center"
												align="center"><center>
													<div id="emb-email-header" style="background-color: #B60200;">
														<img
															style="border-left-width: 0; border-top-width: 0; border-bottom-width: 0; border-right-width: 0; -ms-interpolation-mode: bicubic; display: block; margin-top: 0; margin-bottom: 0; margin-left: auto; margin-right: auto; max-width: 325px;"
															src="http://www.regione.vda.it/wwwtemplate/2012/img/logo.gif" alt="" width="325" height="130"></img>
													</div>
												</center></td>
										</tr>
									</tbody>
								</table>
							</center>
						</td>
					</tr>
				</tbody>
			</table>

			<table class="wrapper feature"
				style="border-collapse: collapse; border-spacing: 0; background-color: #f7f7f7; width: 100%; min-width: 620px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; table-layout: fixed"
				width="100%">
				<tbody>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #e9e9e9; height: 1px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #f2f2f2; height: 1px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #f3f3f3; height: 1px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #f4f4f4; height: 1px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #f5f5f5; height: 1px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #f6f6f6; height: 2px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr>
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top" align="center">
							<table class="one-col"
								style="border-collapse: collapse; border-spacing: 0; Margin-left: auto; Margin-right: auto; width: 600px; background-color: #f7f7f7; font-size: 14px">
								<tbody>
									<tr>
										<td class="column"
											style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; text-align: center">
											<div>
												<div class="column-top" style="font-size: 36px; line-height: 36px">&nbsp;</div>
											</div>
											<table class="contents" style="border-collapse: collapse; border-spacing: 0; width: 100%">
												<tbody>
													<tr>
														<td class="padded" style="padding-top: 0; padding-bottom: 0; padding-left: 32px; padding-right: 32px; vertical-align: top">

															<h1
																style="Margin-top: 0; font-weight: normal; letter-spacing: 0; -webkit-font-smoothing: antialiased; color: #565656; font-size: 52px; line-height: 58px; Margin-bottom: 22px; font-family: Georgia, serif; text-align: center">Lavoro
																Per Te</h1>

														</td>
													</tr>
												</tbody>
											</table>

											<table class="contents" style="border-collapse: collapse; border-spacing: 0; width: 100%">
												<tbody>
													<tr>
														<td class="padded" style="padding-top: 0; padding-bottom: 0; padding-left: 32px; padding-right: 32px; vertical-align: top">

															<table class="divider" style="border-collapse: collapse; border-spacing: 0; width: 100%">
																<tbody>
																	<tr>
																		<td class="inner" style="padding-top: 0; padding-bottom: 32px; padding-left: 0; padding-right: 0; vertical-align: top"
																			align="center">
																			<table
																				style="border-collapse: collapse; border-spacing: 0; background-color: #FFCC3D; font-size: 2px; line-height: 2px; width: 60px">
																				<tbody>
																					<tr>
																						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">&nbsp;</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>

														</td>
													</tr>
												</tbody>
											</table>

											<table class="contents" style="border-collapse: collapse; border-spacing: 0; width: 100%">
												<tbody>
													<tr>
														<td class="padded" style="padding-top: 0; padding-bottom: 0; padding-left: 32px; padding-right: 32px; vertical-align: top">
															<p style="Margin-top: 0; -moz-osx-font-smoothing: grayscale; font-family: Georgia, serif; color: #565656; Margin-bottom: 32px; -webkit-font-smoothing: antialiased; font-size: 21px; line-height: 32px; text-align: center">
																<p>Ciao {{cognome}} {{nome}}
																<br/><br/>
																nell'ambito del Progetto di Garanzia Giovani al quale hai aderito ti e' stato creato un account su 
																Lavoro per Te
																<br/><br/>
																Da questo portale, potrai prenotare un appuntamento con il centro per l'impiego del Comune del tuo domicilio o di un Centro per l'impiego di tua scelta che, nell'ambito di un colloquio approfondito con un operatore, stabilir&agrave; quali servizi ed opportunit&agrave; sono pi&ugrave; coerenti con le tue esperienze formative e professionali precedenti, pi&ugrave; vicini alle tue aspettative e pi&ugrave; utili per un inserimento nel mercato del lavoro.
																<br/><br/> 
																Se non prenoterai il tuo appuntamento entro 30 giorni dall'adesione e/o se non ti presenterai all'appuntamento prenotato la tua adesione al Programma Garanzia Giovani sar&agrave; cancellata d'ufficio.
																<br/><br/>
																<b>N.B.:</b> la presa in carico da parte della Regione Emilia-Romagna comporta l'automatica decadenza di tutte le adesioni che hai eventualmente effettuato presso altre regioni.
																<br/><br/>
																Ti ricordiamo che il programma &egrave; rivolto a giovani tra i 15 e i 29 anni, che non studiano, che sono privi di lavoro, e non sono inseriti in percorsi di tirocinio e/o di formazione. In caso di dubbi puoi rivolgerti al tuo Centro per l'Impiego.
																<br/><br/>
																Le tue credenziali di accesso al Portale sono&nbsp;<br />
																Username: <strong style="font-weight: bold">{{username}}</strong><br />
																Password: <strong style="font-weight: bold">{{password}}</strong><br />
																<br/>
																<br/>
																Per l'attivazione del tuo account &egrave; necessario compiere un ulteriore passaggio. Sar&agrave; necessario cliccare sul link una sola volta e il tuo account verr&agrave; automaticamente abilitato.					
															</p>															
														</td>
													</tr>
												</tbody>
											</table>
											
											<table class="contents" style="border-collapse: collapse; border-spacing: 0; width: 100%">
												<tbody>
													<tr>
														<td class="padded" style="padding-top: 0; padding-bottom: 0; padding-left: 32px; padding-right: 32px; vertical-align: top">
														Per completare la registrazione, clicca sul collegamento qui sotto:
															<div class="btn"
																style="Margin-bottom: 32px; padding-top: 2px; padding-bottom: 2px; padding-left: 2px; padding-right: 2px; text-align: center">
																<a style="mso-hide: all; background-color: #ce1c18; border-left-color: #ffffff; border-left-style: solid; border-left-width: 1px; border-top-color: #ffffff; border-top-style: solid; border-top-width: 1px; border-bottom-color: #ffffff; border-bottom-style: solid; border-bottom-width: 1px; border-right-color: #ffffff; border-right-style: solid; border-right-width: 1px; color: #ffffff !important; display: inline-block; font-size: 13px; font-weight: bold; line-height: 15px; outline-color: #ce1c18; outline-style: solid; outline-width: 2px; padding-top: 10px; padding-bottom: 10px; padding-left: 30px; padding-right: 30px; text-align: center; text-decoration: none !important; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); transition: color .2s; -webkit-font-smoothing: antialiased; font-family: sans-serif" 
																	href="{{activationLink}}" target="_blank" />
																<!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" href="http://preview.createsend1.com/t/t-l-jtwtlk-l-r/" style="width:172px" fillcolor="#41637E" strokecolor="#41637E" strokeweight="6px"><v:stroke linestyle="thinthin"></v:stroke><v:textbox style="mso-fit-shape-to-text:t" inset="0px,7px,0px,7px"><center style="font-size:13px;line-height:15px;color:#FFFFFF;font-family:sans-serif;font-weight:bold;mso-line-height-rule:exactly;mso-text-raise:0px">Attivare l&#39;account</center></v:textbox></v:rect><![endif]-->
															</div>

														</td>
													</tr>
													<tr>
														<td>
															Qualora cliccando sul link non si arrivi alla pagina di abilitazione account, accedere manualmente provando a copiare il link {{activationLink}} nella barra degli indirizzi del proprio browser.
														</td>
													</tr>
												</tbody>
											</table>
											
										</td>
									</tr>
								</tbody>
							</table>
							<div class="column-bottom" style="font-size: 4px; line-height: 4px">&nbsp;</div>
						</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #f6f6f6; height: 2px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #f5f5f5; height: 1px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #f4f4f4; height: 1px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #f3f3f3; height: 1px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #f2f2f2; height: 1px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
					<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #e9e9e9; height: 1px">
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<div class="spacer" style="font-size: 1px; line-height: 32px">&nbsp;</div>

			<table class="wrapper"
				style="border-collapse: collapse; border-spacing: 0; background-color: #fbfbfb; width: 100%; min-width: 620px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; table-layout: fixed">
				<tbody>
					<tr>
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">
							<center>
								<table style="border-collapse: collapse; border-spacing: 0; Margin-left: auto; Margin-right: auto">
									<tbody>
										<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #e9e9e9; height: 1px">
											<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px"
												colspan="3">&nbsp;</td>
										</tr>
										<tr>
											<td class="border"
												style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; font-size: 1px; line-height: 1px; background-color: #e9e9e9; width: 1px">?</td>
											<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">
												<table class="one-col gray"
													style="border-collapse: collapse; border-spacing: 0; Margin-left: auto; Margin-right: auto; width: 600px; background-color: #f7f7f7; font-size: 14px">
													<tbody>
														<tr>
															<td class="column"
																style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; text-align: left">
																<div>
																	<div class="column-top" style="font-size: 32px; line-height: 32px">&nbsp;</div>
																</div>
																<table class="contents" style="border-collapse: collapse; border-spacing: 0; width: 100%">
																	<tbody>
																		<tr>
																			<td class="padded"
																				style="padding-top: 0; padding-bottom: 0; padding-left: 32px; padding-right: 32px; vertical-align: top">
																				<blockquote
																					style="Margin-top: 0; Margin-right: 0; Margin-bottom: 0; padding-right: 0; font-style: italic; font-size: 14px; border-left-color: #dddddd; border-left-style: solid; border-left-width: 2px; Margin-left: 0; padding-left: 16px">
																					<p style="Margin-top: 0; -moz-osx-font-smoothing: grayscale; font-family: Georgia, serif; color: #565656; Margin-bottom: 24px; -webkit-font-smoothing: antialiased; font-size: 16px; line-height: 24px">
																					In caso di problemi con la registrazione contatta gli amministratori all'indirizzo:&nbsp;<a href="mailto::{{mailfrom}}">{{mailfrom}}</a></p>
																				</blockquote>
																				<p style="Margin-top: 0; -moz-osx-font-smoothing: grayscale; font-family: Georgia, serif; color: #565656; Margin-bottom: 24px; -webkit-font-smoothing: antialiased; font-size: 16px; line-height: 24px">Saluti,
																					l'amministrazione di&nbsp;Lavoro per Te</p>

																			</td>
																		</tr>
																	</tbody>
																</table>

																<div class="column-bottom" style="font-size: 8px; line-height: 8px">&nbsp;</div>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
											<td class="border"
												style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; font-size: 1px; line-height: 1px; background-color: #e9e9e9; width: 1px">?</td>
										</tr>
									</tbody>
								</table>
							</center>
						</td>
					</tr>
				</tbody>
			</table>

			<table class="wrapper"
				style="border-collapse: collapse; border-spacing: 0; background-color: #fbfbfb; width: 100%; min-width: 620px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; table-layout: fixed">
				<tbody>
					<tr>
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">
							<center>
								<table class="border"
									style="border-collapse: collapse; border-spacing: 0; font-size: 1px; line-height: 1px; background-color: #e9e9e9; Margin-left: auto; Margin-right: auto"
									width="602">
									<tbody>
										<tr>
											<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</center>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="spacer" style="font-size: 1px; line-height: 32px">&nbsp;</div>
			<table class="wrapper"
				style="border-collapse: collapse; border-spacing: 0; background-color: #fbfbfb; width: 100%; min-width: 620px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; table-layout: fixed">
				<tbody>
					<tr>
						<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">
							<center>
								<table class="footer" style="border-collapse: collapse; border-spacing: 0; Margin-left: auto; Margin-right: auto; width: 602px">
									<tbody>
										<tr>
											<td class="social" style="padding-top: 32px; padding-bottom: 22px; padding-left: 0; padding-right: 0; vertical-align: top"
												align="center">
												<table style="border-collapse: collapse; border-spacing: 0">
													<tbody>
														<tr>
															<td class="social-link" style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">

															</td>

															<td class="social-link" style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">

															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr class="border" style="font-size: 1px; line-height: 1px; background-color: #e9e9e9; height: 1px">
											<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top; line-height: 1px">&nbsp;</td>
										</tr>
										<tr>
											<td style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; vertical-align: top">
												<table style="border-collapse: collapse; border-spacing: 0">
													<tbody>
														<tr>
															<td class="address"
																style="padding-top: 32px; padding-bottom: 64px; padding-left: 0; padding-right: 0; vertical-align: top; width: 500px">
																<table class="contents" style="border-collapse: collapse; border-spacing: 0; width: 100%">
																	<tbody>
																		<tr>
																			<td class="padded"
																				style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 10px; vertical-align: top; color: #999999; font-family: Georgia, serif; font-size: 12px; line-height: 20px; text-align: left">
																				<div>
																					Regione Autonoma Valle d'Aosta <br />
																					Piazza Deffeyes 1 - 11100 Aosta - Tel. +39 0165 273111 p.iva 00368440079
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</center>
						</td>
					</tr>
				</tbody>
			</table>
		</center>
	</div>	
</body>
</html>