/* Queste regole servono a sistemare meglio gli elementi all'interno della form
	di inserimento dati della pagina classifiche.xhtml e classifiche_zona.xhtml */
	
table[id$="data_range"] {
	min-width: 60%;
	width: 0px;
	margin: 1em;
}

table[id$="data_range"] td:first-child{
	text-align: right;
}

#classificheForm\:data_range > tbody > tr:first-child td{
	padding-bottom: 1em;
}

label {
	white-space: nowrap;
	margin-right: 1em;
}