body,td,pre {
	font: 85% "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica,
		Arial, sans-serif;
	color: #454545;
	
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}