<!DOCTYPE html>
<html>
<head>
<meta charset="US-ASCII">
<title>Insert title here</title>
</head>
<body>
"Ciao "
				+ data.getCognome()
				+ " "
				+ data.getNome()
				+ ",<br/>"
				+ "lo username per il quale si sta recuperando la password e' il seguente: <b>"
				+ data.getUserName()
				+ "</b>.<br/>"
				+ "Per poter accedere alla pagina di recupero password e' necessario cliccare il collegamento qui sotto.<br/>"
				+ "<a href=\""
				+ link
				+ "\">"
				+ link
				+ "</a><br/>"
				+ "Qualora cliccando sul link vi non si arrivi alla pagina di abilitazione account, "
				+ "accedere manualmente provando a copiare il link nella barra degli indirizzi del proprio browser.<br/>"
				+ "In caso di problemi con la registrazione contatta gli amministratori all'indirizzo:<br/>"
				+ "<a href=\"mailto:" + ConstantsSingleton.EMAIL_FROM + "\">"
				+ ConstantsSingleton.EMAIL_FROM + "</a><br/><br/>"
				+ "Saluti, l'amministrazione di<br/>" + "Lavoro per Te";
</body>
</html>