.container-div {
	background-color: white;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 1.5em;
}

/** DIALOG **/
.ui-dialog-titlebar {
	background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
	text-shadow: 0 0 0;
	color: #333;
}

/** ACCORDION **/	
.ui-accordion-header a {
	background-image: linear-gradient(rgba(243, 219, 156, 0.8), rgba(237, 200, 103, 0)) !important;
	background-color: #ffcb39;
	text-shadow: 0 0 0;
	color: #525152;				
}

.ui-accordion  .ui-state-hover {
	background-color: #f7e7bd;
	box-shadow:	0 0 8px #f7e7bd, 0 1px 0 #edc867 inset;
}

/** BOTTONI **/	  
.ui-button.ui-state-default {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;	
	border: 1px solid #d3d3d3;
    background: #e6e6e6 url(images/ui-bg_button.png) 50% 50% repeat-x;
  	font-weight: normal;
  	color: #555555;
  	font-size: 100%;
}

.ui-button.ui-state-active {
	background-color: #f7e7bd;
}

.ui-button.ui-state-hover {
	border: 1px solid #999999;
	background: #dadada url(images/ui-bg_button_hover.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555; 
	box-shadow: 0px 0px 0px;
}

.ui-button.ui-state-default.ui-state-active{
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/ui-bg_flat_65_ffffff_40x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}

/*Stile Textbox*/
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield{
	box-shadow: 0px 0px 0px;
	border-color: #666 #ddd #ddd #666;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
	padding: 0.1em;
	box-shadow: 0px 0px 0px;
	border-color: #666 #ddd #ddd #666;
}

.ricercaCosa, .ricercaDove{
	font-style: normal;
}

.ricercaCosaInputText{
	background-image: none !important;
}

.filter-column .testofiltri{
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 0;
}

/* STILE ICONE / COLORE*/
.ui-widget-header .ui-icon{
	background-image: url(images/ui-icons_515151_256x240.png);
}

.ui-state-default .ui-icon{
	background-image: url(images/ui-icons_515151_256x240.png);
}

/* CALENDAR / DATEPICKER */
.ui-datepicker-header {
	background: #cccccc url(images/ui-bg_button.png) 50% 50% repeat-x;
	border: 1px solid #aaaaaa;
	color: #222222;
	font-weight: bold;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default{
	color: #515151;
	font-size: 1.1em;
	font-weight: normal;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-highlight{
	background: url("images/ui-bg_flat_55_fbf9ee_40x100.png") repeat-x scroll 50% 50% lightgreen;
	border: 1px solid green;
	color: #363636;
	text-shadow: 0px 0px 0px;
}

.ui-datepicker-trigger .ui-button-text {
	background: #e6e6e6 url(images/ui-bg_button.png) 50% 50% repeat-x;
}

.ui-datepicker-trigger.ui-button-icon-only .ui-button-text {
	padding: 0.2em;
}

.ui-datepicker table {
	border-spacing: 2px !important;
	border-collapse: separate !important;
}

.ui-datepicker td:not(.ui-datepicker-other-month) {
	border-radius: 5px;
	background: #cccccc !important;
}

.ui-datepicker td.ui-datepicker-current-day .ui-state-default {
	background: #cccccc !important;
	color: #4f4f4f !important;
	font-weight: normal;
}

.ui-datepicker td a {
	/* Per evitare il trattino bianco nei giorni del calendario */
	webkit-box-shadow: none;
	box-shadow: none;
}

.ui-datepicker .ui-state-highlight {
	text-shadow: none !important;
}

/* SELECTONEMENU */

/*CREA CV*/
	/* UPLOAD FILE*/
	.ui-fileupload-buttonbar .ui-fileupload-choose input{
		transform: none;
	}
	#testata\:uploadAllegatoPanel #testata\:fileUpload .ui-widget-header {
		border: none;
		padding: 0;
		background-color: inherit;
	}
	#testata\:uploadAllegatoPanel #testata\:fileUpload .ui-widget-content {
		border: none;
	} 
	#testata\:uploadAllegatoPanel .ui-progressbar-value.ui-widget-header.ui-corner-left{
		background-color: #a20400 !important; 
	}
	#testata\:uploadAllegatoPanel .ui-button-text.ui-c{
		color: #525152;
	}
	#testata\:uploadAllegatoPanel #testata\:filename{
		margin-right: 15px;
	}
	
/*AutoCandidatura*/
	/*SelectOneMenu*/
	#candidaVacancyForm .ui-selectonemenu{
	     width: 100% !important;
	}
	#candidaVacancyForm .ui-selectonemenu-label{
	     width: calc(100% - 8px) !important;
	}